{% if categories %}

    <style type="text/css">

        .category-accordion .list-group-item {
            background-color: #fff;
            border-color: #fff;
        }
        .category-accordion .list-group-item a {
            text-decoration: none;
            white-space: initial;
        }
        .category-accordion .dropdown-menu {
            width: 100%;
        }
        .category-accordion .dropdown-menu .list-group-item {
            background-color: var(--light);
        }
        .category-accordion .list-group-item.active,
        .category-accordion .list-group-item:hover,
        .category-accordion .dropdown-menu .list-group-item.active,
        .category-accordion .dropdown-menu .list-group-item:hover {
            background-color: var(--primary);
            border-color: var(--primary);
        }
        .category-accordion .list-group-item.active > a,
        .category-accordion .list-group-item.active > button,
        .category-accordion .list-group-item:hover > a,
        .category-accordion .list-group-item:hover > button,
        .category-accordion .list-group-item > a:hover,
        .category-accordion .list-group-item > button:hover {
            color: #fff !important;
        }
        .category-accordion .list-group-item a:focus,
        .category-accordion .list-group-item a:active,
        .category-accordion .list-group-item a:hover {
            color: #222;
            outline: initial;
        }
        .category-accordion .list-group-item button:focus,
        .category-accordion .list-group-item button:active {
            outline: initial;
        }
        .category-accordion .list-group-item button:before {
            display: inline-block;
            /*font-family: 'FontAwesome';*/
            font-family: 'Font Awesome\ 5 Free';
            /*font-family: 'Font Awesome\ 5 Pro';*/
            font-weight: 900;
            font-size: 14px;
            content: "\f105";
            color: inherit;
            transform: initial;
        }
        .category-accordion .list-group-item button[aria-expanded="true"]:before {
            content: "\f107";
        }
        .dropright .dropdown-toggle::after {
            display: none;
        }
        .category-accordion .list-group-item.dropdown:hover>.dropdown-menu {
            display: block;
        }

    </style>

    <div class="list-group category-accordion">

        {% for category in categories %}

            {% set class = '' %}
            {% set expanded = 'false' %}
            {% set show = '' %}
            {% if category.category_id == category_id %}
                {% set class = 'active' %}
                {% set expanded = 'true' %}
                {% set show = 'show' %}
            {% endif %}

            <div class="
                d-flex
                list-group-item
                p-0
                {% if not loop.first %}border-top{% endif %}
                {% if category.children %}dropdown dropright{% endif %}
                {{ class }}
            ">
                <a
                    href="{{ category.href }}"
                    class="w-100 pl-3 py-2 {% if category.children %}dropdown-toggle{% endif %}"
                    {% if category.children %}
                        aria-haspopup="true"
                        aria-expanded="false"
                    {% endif %}
                >
                    {{ category.name }}
                </a>

                {% if category.children %}
                    <button
                        type="button"
                        class="flex-shrink-1 px-3 bg-transparent border-0"
                        href="#"
                        role="button"
                    >
                    </button>
                {% endif %}

                {% if category.children %}
                    <div class="dropdown-menu shadow p-0 border-0">

                        {% for child in category.children %}

                            {% set class = '' %}
                            {% if child.category_id == child_id %}
                                {% set class = 'active' %}
                            {% endif %}

                            <div class="d-flex rounded-0 list-group-item p-0 border-top {{ class }}">
                                <a
                                        href="{{ child.href }}"
                                        class="w-100 px-3 py-2"
                                >
                                    {{ child.name }}
                                </a>
                            </div>

                        {% endfor %}

                    </div>
                {% endif %}
            </div>



        {% endfor %}

    </div>
{% endif %}