{% if categories %}

    <style type="text/css">

        .category-accordion .list-group-item {
            background-color: #fff;
            border-color: #fff;
        }
        .category-accordion .list-group-item a {
            text-decoration: none;
        }
        .category-accordion .collapse.show .list-group-item {
            background-color: var(--light);
        }
        .category-accordion .list-group-item.active,
        .category-accordion .list-group-item:hover,
        .category-accordion .collapse .list-group-item.active,
        .category-accordion .collapse .list-group-item:hover {
            background-color: var(--primary);
            border-color: var(--primary);
        }
        .category-accordion .list-group-item.active a,
        .category-accordion .list-group-item.active button,
        .category-accordion .list-group-item:hover a,
        .category-accordion .list-group-item:hover button,
        .category-accordion .list-group-item a:hover,
        .category-accordion .list-group-item button:hover {
            color: #fff !important;
        }
        .category-accordion .list-group-item a:focus,
        .category-accordion .list-group-item a:active,
        .category-accordion .list-group-item a:hover {
            color: #222;
            outline: initial;
        }
        .category-accordion .list-group-item button:focus,
        .category-accordion .list-group-item button:active {
            outline: initial;
        }
        .category-accordion .list-group-item button:before {
            display: inline-block;
            /*font-family: 'FontAwesome';*/
            font-family: 'Font Awesome\ 5 Free';
            /*font-family: 'Font Awesome\ 5 Pro';*/
            font-weight: 900;
            font-size: 8px;
            content: "\f067";
            color: inherit;
            transform: initial;
        }
        .category-accordion .list-group-item button[aria-expanded="true"]:before {
            content: "\f068";
        }

    </style>

    <div class="list-group category-accordion">

        {% for category in categories %}

            {% set class = '' %}
            {% set expanded = 'false' %}
            {% set show = '' %}
            {% if category.category_id == category_id %}
                {% set class = 'active' %}
                {% set expanded = 'true' %}
                {% set show = 'show' %}
            {% endif %}

            <div class="d-flex list-group-item p-0 {% if not loop.first %}border-top{% endif %} {{ class }}">
                <a
                    href="{{ category.href }}"
                    class="w-100 pl-3 py-2"
                >
                    {{ category.name }}
                </a>

                {% if category.children %}
                    <button
                        type="button"
                        class="flex-shrink-1 px-3 bg-transparent border-0"
                        data-toggle="collapse"
                        href="#collapse{{ loop.index }}"
                        role="button"
                        aria-expanded="{{ expanded }}"
                        aria-controls="collapse{{ loop.index }}"
                    >
                    </button>
                {% endif %}
            </div>

            {% if category.children %}
                <div class="collapse {{ show }}" id="collapse{{ loop.index }}">

                    {% for child in category.children %}

                        {% set class = '' %}
                        {% if child.category_id == child_id %}
                            {% set class = 'active' %}
                        {% endif %}

                        <div class="d-flex rounded-0 list-group-item p-0 pl-3 border-top {{ class }}">
                            <a
                                href="{{ child.href }}"
                                class="w-100 px-3 py-2"
                            >
                                {{ child.name }}
                            </a>
                        </div>

                    {% endfor %}

                </div>
            {% endif %}


        {% endfor %}

    </div>
{% endif %}