{{ text_subject }}

<br><br>

{{ text_date_added }}: {{ date_added }}<br>

{{ text_name }}: {{ name }}<br>
{{ text_email }}: {{ email }}<br>
{{ text_phone }}: {{ phone }}<br>

{% if comment %}
{{ text_comment }}: {{ comment }}<br>
{% endif %}

{% if shipping == 'delivery' %}

{{ text_address }}: {{ address }}<br>
{{ text_city }}: {{ city }}<br>
{{ text_code }}: {{ code }}<br>
{{ text_country }}: {{ country }}<br>
{{ text_zone }}: {{ zone }}<br>

{% endif %}

<br><br>

{{ text_payment }} : {{ payment }}

<br><br>

{{ text_shipping }} : {{ shipping2 }}

<br><br>

{% if products %}

{{ text_product }}

{% for product in products %}
<br>{{ product.quantity }}x {{ product.name }} - {{ product.total }}{{ text_price }}
{% endfor %}

<br><br>

{% endif %}

{% if services %}
    
{{ text_service }}


{% for service in services %}
<br>{{ service.quantity }}x {{ service.name }} - {{ service.total }}{{ text_price }}
{% endfor %} 

<br><br>

{% endif %}

{{ text_total }}: {{ total }}{{ text_price }}
