{% set background = '' %}

{% if infoblock_info1_image %}
    {% set background = 'style="background-image:url(' ~ infoblock_info1_image ~ ');"' %}
    <style>
        .infoblock1 {
            position: relative;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .infoblock1:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(255,255,255,.8);
        }
    </style>
{% endif %}

<section class="infoblock1" {{ background }}>
    <div class="container position-relative">

        <div class="row justify-content-end">
            <div class="col-12 col-lg-4">

                {% if infoblock_info1_name %}
                    <h2 class="text-left h4 text-uppercase">{{ infoblock_info1_name }}</h2>
                {% endif %}

                {% if infoblock_info1_description %}
                    <p class="text-left">{{ infoblock_info1_description }}</p>
                {% endif %}

                {% if infoblock_info1_link %}
                    <a href="{{ infoblock_info1_link }}" class="btn btn-primary px-4">Подробнее</a>
                {% endif %}

            </div>
        </div>

    </div>
</section>