{% for image in images %}
    <div class="col-12 col-sm-4 col-lg-3 item">
        {% set group = 'group-' ~ portfolio_id %}
        {% include theme_dir ~ '/template/cms/_portfolio_image.twig' %}
    </div>
{% endfor %}