<div class="container-fluid" id="portfolio">

    <style>
        #portfolio .item {
            position: relative;
            transition-duration: 0.4s;
            animation: winanim 0.5s ;
            -webkit-backface-visibility: visible;
            backface-visibility: visible;
        }
        #portfolio .item .fa-search {
            font-size: 24px;
            color: var(--primary);
        }
        #portfolio .item a:hover .fa-search {
            color: #fff;
        }

        @keyframes winanim {
            0%{opacity:0;}
            50%{opacity:1}
        }
    </style>

    {% if portfolios|length > 1 %}
        <ul class="nav nav-pills justify-content-center">
{#        <ul class="nav nav-pills nav-fill justify-content-center">#}

            {% for portfolio in portfolios %}
                {% set group = 'group-' ~ portfolio.portfolio_id %}
                {% set class = '' %}
                {% set selected = 'false' %}
                {% if loop.first %}
                    {% set class = 'active' %}
                    {% set selected = 'true' %}
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link px-5 {{ class }}" id="{{ group }}-tab" data-toggle="pill" href="#{{ group }}" role="tab" aria-controls="{{ group }}" aria-selected="{{ selected }}">{{ portfolio.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div class="tab-content mt-3">

        {% for portfolio in portfolios %}
            {% set group = 'group-' ~ portfolio.portfolio_id %}
            {% set class = '' %}
            {% set selected = 'false' %}
            {% if loop.first %}
                {% set class = 'show active' %}
                {% set selected = 'true' %}
            {% endif %}

            <div class="tab-pane fade {{ class }}" id="{{ group }}" role="tabpanel" aria-labelledby="{{ group }}-tab">
                <div class="row portfolio-container">
                    {% for image in portfolio.images %}
                        <div class="col-12 col-sm-4 col-lg-3 item">
                            {% include theme_dir ~ '/template/cms/_portfolio_image.twig' %}
                        </div>
                    {% endfor %}
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        {% set class = '' %}
                        {% if portfolio.total <= (start + limit) %}
                            {% set class = 'd-none' %}
                        {% endif %}
                        <button
                            type="button"
                            class="btn btn-primary btn-sm btn-portfolio px-5 {{ class }}"
                            portfolio_id="{{ portfolio.portfolio_id }}"
                            special="{{ filter_special }}"
                            start="{{ start + limit }}"
                            limit="{{ limit }}"
                            total="{{ portfolio.total }}"
                        >
                            Смотреть еще
                        </button>
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

</div>

<script>

    $('.btn-portfolio').on('click', function() {
        let loadBtn = $(this);
        let itemContainer = $(loadBtn).closest('.tab-pane').find('.portfolio-container');

        $.ajax({
            url: 'index.php?route=cms/portfolio/load&start=' + $(loadBtn).attr('start') + '&limit=' + $(loadBtn).attr('limit') + '&portfolio_id=' + $(loadBtn).attr('portfolio_id') + '&special=' + $(loadBtn).attr('special'),
            dataType: 'html',
            success: function(html) {
                // console.log(html);

                $(itemContainer).append(html);

                let nextNum = parseInt($(loadBtn).attr('start'), 10) + parseInt($(loadBtn).attr('limit'), 10);

                $(loadBtn).attr('start', nextNum);

                if (parseInt($(loadBtn).attr('total'), 10) <= nextNum) {
                    $(loadBtn).addClass('d-none');
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

</script>