<div class="text-center">
    <a href="{{ image.image }}" class="overlay d-flex position-relative overflow-hidden justify-content-center rounded border shadow-sm" data-fancybox="{{ group }}" data-caption="{{ image.title }}">
        <img src="{{ image.thumb }}" class="img-fluid" alt="{{ image.title }}">
        <div class="hover-overlay d-flex justify-content-center align-items-center">
            <i class="fa fa-search"></i>
        </div>
    </a>
    <div class="title my-2">{{ image.title }}</div>
</div>