{{ header }}

{% include theme_dir ~ '/template/common/_breadcrumb.twig' with { breadcrumbs: breadcrumbs } %}

<main role="main" class="site__body">


{#{% include 'default/template/common/_page_header.twig' with {#}
{#    breadcrumbs: breadcrumbs,#}
{#    heading_title: heading_title#}
{#} %}#}


<div class="block">
    <div class="container" id="content">

        <div class="row">


            <div class="col-12 col-xl-9">
                {% for action in actions %}
                    <article class="card mb-4 border-0">
                        {% if action.thumb %}
                        <a href="{{ action.href }}" class="d-block">
                            <img class="img-fluid" src="{{ action.thumb }}" alt="">
                        </a>
                        {% endif %}
                        <div class="blog-box-meta">
                            <div class="blog-meta-date">
                                <a href="{{ action.href }}">{{ action.date_added }}</a>
                            </div>
                        </div>
                        <div class="card-body pt-0 pb-0 px-0">
                            <h4 class="mb-3"><a href="{{ action.href }}">{{ action.name }}</a></h4>
                            <p>{{ action.anons }}</p>
                            <div class="flex-horizontal-center">
                                <a href="{{ action.href }}" class="btn btn-primary mb-md-0 font-weight-normal px-5 px-md-4 px-lg-5">Читать далее</a>
                            </div>
                        </div>
                    </article>
                {% endfor %}

            </div>
            
            <div class="d-none d-md-none d-xl-block col-xl-3">
                <div class="mb-8 border border-width-2 border-color-3 borders-radius-6">
                    <div class="aside-list list-group list-group-flush">
                        {% for action in actions %}
                        {% if action.action_id == action_id %}
                            <a href="{{ action.href }}" class="list-group-item px-4 py-2 active">{{ action.name }}</a>
                        {% else %}
                            <a href="{{ action.href }}" class="list-group-item px-4 py-2">{{ action.name }}</a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>



</main>






{{ footer }}