{{ header }}

{% include theme_dir ~ '/template/common/_breadcrumb.twig' with { breadcrumbs: breadcrumbs } %}

<main role="main" class="site__body">


{#{% include 'default/template/common/_page_header.twig' with {#}
{#    breadcrumbs: breadcrumbs,#}
{#    heading_title: false#}
{#} %}#}


<div class="block">
    <div class="container" id="content">

        <div class="row">


            <div class="col-12 col-xl-9">
                {% if thumb %}
                <div class="blog-image">
                    <img src="{{ thumb }}" alt="" class="img-fluid">
                </div>
                {% endif %}
                <div class="blog-content">
                    <h5 class="last-title">{{ heading_title }}</h5>
                    {# {% set mnths = ['','ЯНВ','ФЕВ','МАР','АПР','МАЙ','ИЮН','ИЮЛ','АВГ','СЕН','ОКТ','НОЯ','ДЕК'] %}
                    <b>{{ date_day }}</b>
                    {{ mnths[date_month] }} #}
                    <div>{{ date_added }}</div>
                    <div class="desc mt-4">
                        {{ description }}
                    </div>
                </div>

            </div>
            
            <div class="d-none d-md-none d-xl-block col-xl-3">
                <div class="mb-8 border border-width-2 border-color-3 borders-radius-6">
                    <div class="aside-list list-group list-group-flush">
                        {% for action in actions %}
                        {% if action.action_id == action_id %}
                            <a href="{{ action.href }}" class="list-group-item px-4 py-2 active">{{ action.name }}</a>
                        {% else %}
                            <a href="{{ action.href }}" class="list-group-item px-4 py-2">{{ action.name }}</a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>



</main>






{{ footer }}