<section>
    <div class="container">

        <div class="row">
            <div class="container-fluid">

                {% if infoblock_news_name %}
                    <h2 class="text-center h4 text-uppercase">{{ infoblock_news_name }}</h2>
                {% endif %}
                {% if infoblock_news_description %}
                    <p class="text-center">{{ infoblock_news_description }}</p>
                {% endif %}

            </div>
        </div>

        <div class="row">

            {% for homenews in homenewss %}
                <div class="col-sm-3">

                    {% if homenews.image %}
                        <div class="image">
                            <img src="{{ homenews.image }}" class="img-fluid border rounded" alt="">
                        </div>
                    {% endif %}

                    <div class="content pt-2">

                        <h3 class="text-center h5">{{ homenews.name }}</h3>
                        <div class="text-center">{{ homenews.date_added }}</div>
{#                        <div class="text-center">#}
{#                            <div>{{ homenews.date_day }}</div>#}
{#                            <div>{{ homenews.date_month }}</div>#}
{#                        </div>#}

                        {% if homenews.anons %}
                            <p class="m-0 text-center">
                                {{ homenews.anons }}
                            </p>
                        {% endif %}

                        <div class="text-center mt-2">
                            <a href="{{ homenews.href }}" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>

                </div>
            {% endfor %}

        </div>

    </div>
</section>