{% set background = '' %}

{% if infoblock_specialist_image %}
    {% set background = 'style="background-image:url(' ~ infoblock_specialist_image ~ ');"' %}
    <style>
        .homespecialist {
            position: relative;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .homespecialist:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(255,255,255,.8);
        }
    </style>
{% endif %}

<section class="homespecialist" {{ background }}>
    <div class="container position-relative">

        <div class="row">
            <div class="container-fluid">

                {% if infoblock_specialist_name %}
                    <h2 class="text-center h4 text-uppercase">{{ infoblock_specialist_name }}</h2>
                {% endif %}
                {% if infoblock_specialist_description %}
                    <p class="text-center">{{ infoblock_specialist_description }}</p>
                {% endif %}

            </div>
        </div>

        <div class="row">

            {% for homespecialist in homespecialists %}
                <div class="col-sm-3">

                    {% if homespecialist.image %}
                        <div class="image">
                            <img src="{{ homespecialist.image }}" class="img-fluid border rounded" alt="">
                        </div>
                    {% endif %}

                    <div class="content pt-2">

                        <h3 class="text-center h5">{{ homespecialist.name }}</h3>

                        {% if homespecialist.anons %}
                            <p class="m-0 text-center">
                                {{ homespecialist.anons }}
                            </p>
                        {% endif %}

                        <div class="text-center mt-2">
                            <a href="{{ homespecialist.href }}" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>

                </div>
            {% endfor %}

        </div>

        <div class="row">

            {% if infoblock_specialist_link %}
                <div class="container-fluid text-center pt-4">
                    <a href="{{ infoblock_specialist_link }}" class="btn btn-primary px-4">Подробнее</a>
                </div>
            {% endif %}

        </div>

    </div>
</section>