{% set background = '' %}

{% if infoblock_portfolio_image %}
    {% set background = 'style="background-image:url(' ~ infoblock_portfolio_image ~ ');"' %}
    <style>
        .homeportfolio {
            position: relative;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .homeportfolio:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(255,255,255,.8);
        }
    </style>
{% endif %}

<section class="homeportfolio" {{ background }}>
    <div class="container position-relative">

        <div class="row">
            <div class="container-fluid">

                {% if infoblock_portfolio_name %}
                    <h2 class="text-center h4 text-uppercase">{{ infoblock_portfolio_name }}</h2>
                {% endif %}
                {% if infoblock_portfolio_description %}
                    <p class="text-center">{{ infoblock_portfolio_description }}</p>
                {% endif %}

            </div>
        </div>

        <div class="row">

            {% include theme_dir ~ '/template/cms/_portfolio_with_tabs.twig' %}

        </div>

        {% if infoblock_portfolio_link %}
        <div class="row">
            <div class="container-fluid text-center pt-4">
                <a href="{{ infoblock_portfolio_link }}" class="btn btn-primary px-4">Подробнее</a>
            </div>
        </div>
        {% endif %}

    </div>
</section>