{% set background = '' %}

{% if infoblock_service_image %}
    {% set background = 'style="background-image:url(' ~ infoblock_service_image ~ ');"' %}
    <style>
        .homeservice {
            position: relative;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .homeservice:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: rgba(255,255,255,.8);
        }
    </style>
{% endif %}

<section class="homeservice" {{ background }}>
    <div class="container position-relative">

        <div class="row">
            <div class="container-fluid">

                {% if infoblock_service_name %}
                    <h2 class="text-center h4 text-uppercase">{{ infoblock_service_name }}</h2>
                {% endif %}
                {% if infoblock_service_description %}
                    <p class="text-center">{{ infoblock_service_description }}</p>
                {% endif %}

            </div>
        </div>

        <div class="row">

            {% for homeservice in homeservices %}
                <div class="col-sm-3">

                    {% if homeservice.image %}
                        <div class="image">
                            <img src="{{ homeservice.image }}" class="img-fluid border rounded" alt="">
                        </div>
                    {% endif %}

                    <div class="content pt-2">

                        <h3 class="text-center h5">{{ homeservice.name }}</h3>

                        {% if homeservice.anons %}
                            <p class="m-0 text-center">
                                {{ homeservice.anons }}
                            </p>
                        {% endif %}

                        <div class="text-center mt-2">
                            <a href="{{ homeservice.href }}" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>

                </div>
            {% endfor %}

        </div>

        <div class="row">

            {% if infoblock_service_link %}
                <div class="container-fluid text-center pt-4">
                    <a href="{{ infoblock_service_link }}" class="btn btn-primary px-4">Подробнее</a>
                </div>
            {% endif %}

        </div>

    </div>
</section>