<section>
    <div class="container">

        <div class="row">
            <div class="container-fluid">

                {% if infoblock_action_name %}
                    <h2 class="text-center h4 text-uppercase">{{ infoblock_action_name }}</h2>
                {% endif %}
                {% if infoblock_action_description %}
                    <p class="text-center">{{ infoblock_action_description }}</p>
                {% endif %}

            </div>
        </div>

        <div class="row">

            {% for homeaction in homeactions %}
                <div class="col-sm-3">

                    {% if homeaction.image %}
                        <div class="image">
                            <img src="{{ homeaction.image }}" class="img-fluid border rounded" alt="">
                        </div>
                    {% endif %}

                    <div class="content pt-2">

                        <h3 class="text-center h5">{{ homeaction.name }}</h3>

                        {% if homeaction.anons %}
                            <p class="m-0 text-center">
                                {{ homeaction.anons }}
                            </p>
                        {% endif %}

                        <div class="text-center mt-2">
                            <a href="{{ homeaction.href }}" class="btn btn-primary">Подробнее</a>
                        </div>
                    </div>

                </div>
            {% endfor %}

        </div>

    </div>
</section>