{{ header }}

<main role="main" class="site__body">


{#{% include 'default/template/common/_page_header.twig' with {#}
{#    breadcrumbs: breadcrumbs,#}
{#    heading_title: heading_title#}
{#} %}#}


<div class="block">
    <div class="container my-5" id="content">

        <div class="row">



            <div class="d-none d-md-none d-xl-block col-xl-3">
                <h4 class="title px-2 pb-2 mb-3 text-center">Новости</h4>
                <div class="mb-8 border border-width-2 border-color-3 borders-radius-6">
                    <div class="aside-list list-group list-group-flush">
                        {% for news in all_news %}
                        {% if news.news_id == news_id %}
                            <a href="{{ news.href }}" class="list-group-item px-4 py-2 active">{{ news.name }}</a>
                        {% else %}
                            <a href="{{ news.href }}" class="list-group-item px-4 py-2">{{ news.name }}</a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>


            <div class="col-xl-9 col-lg-8">
                <div class="blog-item-wrapper blog-item-wrapper__blog-grid blog-item-wrapper__blog-details">
                    <div class="blog-img">
                        {% if thumb %}
                        <img src="{{ thumb }}" class="border rounded" alt="" />
                        {% endif %}
                    </div>
                    <div class="blog-inner-content">
                        <div class="blog-box-title">
                            <h3 class="mt-2 mb-3">{{ heading_title }}</h3>
                        </div>
                        <ul class="blog-meta list-unstyled">
                            <li>{{ date_added }}</li>
                        </ul>
                        <div class="blog-box-content">
                            {{ description }}
                        </div>
                    </div>


                </div>
            </div>

        </div>

    </div>
</div>



</main>






{{ footer }}