{{ header }}

{% include theme_dir ~ '/template/common/_breadcrumb.twig' with { breadcrumbs: breadcrumbs } %}

<main role="main" class="site__body">


{#{% include 'default/template/common/_page_header.twig' with {#}
{#    breadcrumbs: breadcrumbs,#}
{#    heading_title: heading_title#}
{#} %}#}


<div class="block">
    <div class="container my-5" id="content">

        <div class="row">

            <div class="d-none d-md-none d-xl-block col-xl-3">
                <h4 class="title px-2 pb-2 mb-3 text-center">Новости</h4>
                <div class="mb-8 border border-width-2 border-color-3 borders-radius-6">
                    <div class="aside-list list-group list-group-flush">
                        {% for news in all_news %}
                        {% if news.news_id == news_id %}
                            <a href="{{ news.href }}" class="list-group-item px-4 py-2 active">{{ news.name }}</a>
                        {% else %}
                            <a href="{{ news.href }}" class="list-group-item px-4 py-2">{{ news.name }}</a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>


            <div class="col-xl-9 col-lg-8">
                <div class="blog-box-wrapper">

                {% for news in all_news %}
                    <div class="blog-item-wrapper  mb-30">
                        <div class="blog-img">
                            <a href="{{ news.href }}">
                                <img src="{{ news.thumb }}" class="border rounded" alt="">
                            </a>
                        </div>
                        <div class="blog-inner-content">
                            <h3><a href="{{ news.href }}">{{ news.name }}</a></h3>
                            <ul class="blog-meta list-unstyled">
                                <li>{{ news.date_added }}</li>
                            </ul>
                            <p>{{ news.anons }}</p>
                            <a href="{{ news.href }}" class=" btn__bg px-0">Читать далее</a>
                        </div>
                    </div>
                {% endfor %}

                </div>
            </div>


        </div>

    </div>
</div>



</main>






{{ footer }}