{{ header }}

{% include theme_dir ~ '/template/common/_breadcrumb.twig' with { breadcrumbs: breadcrumbs } %}


<section class="my-3">
    <div class="container">
        <div class="row">

            <div class="col-12 col-xl-12">

                {% if prices %}
                    <ul class="nav nav-pills justify-content-center">

                        {% for price in prices %}
                            {% set group = 'group-' ~ loop.index %}
                            {% set class = '' %}
                            {% set selected = 'false' %}
                            {% if loop.first %}
                                {% set class = 'active' %}
                                {% set selected = 'true' %}
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link px-5 {{ class }}" id="{{ group }}-tab" data-toggle="pill" href="#{{ group }}" role="tab" aria-controls="{{ group }}" aria-selected="{{ selected }}">
                                    {% if price.name %}
                                        {{ price.name }}
                                    {% else %}
                                        Прайс {{ loop.index }}
                                    {% endif %}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="tab-content mt-3">

                        {% for price in prices %}
                            {% set group = 'group-' ~ loop.index %}
                            {% set class = '' %}
                            {% set selected = 'false' %}
                            {% if loop.first %}
                                {% set class = 'show active' %}
                                {% set selected = 'true' %}
                            {% endif %}

                            <div class="tab-pane fade {{ class }}" id="{{ group }}" role="tabpanel" aria-labelledby="{{ group }}-tab">
                                {{ price.description }}
                            </div>

                        {% endfor %}
                    </div>
                {% endif %}


            </div>


        </div>

    </div>
</section>






{{ footer }}