{{ header }}

{% include theme_dir ~ '/template/common/_breadcrumb.twig' with { breadcrumbs: breadcrumbs } %}


<section class="my-3">
    <div id="information-information" class="container">
        <div class="row">


            <div class="col-12 col-xl-9">
                {% if thumb %}
                <img src="{{ thumb }}" class="img-fluid" alt="" />
                {% endif %}
                <h3 class="mt-2 mb-3">{{ heading_title }}</h3>
                {{ description }}

            </div>
            
            <div class="d-none d-md-none d-xl-block col-xl-3">
                <div class="mb-8 border border-width-2 border-color-3 borders-radius-6">
                    <div class="aside-list list-group list-group-flush">
                        {% for service in services %}
                        {% if service.service_id == service_id %}
                            <a href="{{ service.href }}" class="list-group-item px-4 py-2 active">{{ service.name }}</a>
                        {% else %}
                            <a href="{{ service.href }}" class="list-group-item px-4 py-2">{{ service.name }}</a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>


        </div>

    </div>
</section>








{{ footer }}