{{ header }}

{% include theme_dir ~ '/template/common/_breadcrumb.twig' with { breadcrumbs: breadcrumbs } %}


<section class="my-3">
    <div id="information-information" class="container">
        <div class="row">

            <div class="col-12 col-xl-12">
                <div class="row ">

                    {% for service in services %}
                    <div class="item col-12 col-sm-12 col-md-4 mb-5">
                        <div class="row">
                            {% if service.thumb %}
                            <div class="image col-md-12">
                                <a href="{{ service.href }}">
                                    <img src="{{ service.thumb }}" class="img-fluid rounded-0" alt="">
                                </a>
                            </div>
                            {% endif %}
                            <div class="description col-md-12">
                                <h3 class="h5 my-3 font-weight-bold">
                                    <a href="{{ service.href }}">
                                        {{ service.name }}
                                    </a>
                                </h3>
                                {% if service.anons %}
                                <div class="services_content">
                                    <p>{{ service.anons }}</p>
                                </div>
                                {% endif %}
                                {# {% if service.href %}
                                <a href="{{ service.href }}" class="btn btn-primary2 rounded-0 px-0">Подробнее <i class="fa fa-angle-right"></i></a>
                                {% endif %} #}
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>

            {# <div class="d-none d-md-none d-xl-block col-xl-3">
                <div class="mb-8 border border-width-2 border-color-3 borders-radius-6">
                    <div class="aside-list list-group list-group-flush">
                        {% for service in services %}
                        {% if service.service_id == service_id %}
                            <a href="{{ service.href }}" class="list-group-item px-4 py-2 active">{{ service.name }}</a>
                        {% else %}
                            <a href="{{ service.href }}" class="list-group-item px-4 py-2">{{ service.name }}</a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div> #}


        </div>

    </div>
</section>






{{ footer }}