{{ header }}

{% include theme_dir ~ '/template/common/_breadcrumb.twig' with { breadcrumbs: breadcrumbs } %}


<section class="my-3">
    <div id="information-information" class="container">
        <div class="row">


            <div class="col-12 col-xl-12">
                <div class="row">
                    <div class="col-12">
                        {% if thumb %}
                            <img src="{{ thumb }}" class="img-fluid float-right ml-3 mb-3" alt="" />
                        {% endif %}
                        <h3 class="mt-2 mb-3">{{ heading_title }}</h3>

                        {{ anons }}
                        <br>
                        <br>
                        {{ description }}
                    </div>
                </div>


                {% if link_youtube %}
                <div class="row">
                    <div class="col-5 mb-3">
                        <iframe class="shadow" src="https://www.youtube.com/embed/{{ link_youtube }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="width: 100%; height:260px;"></iframe>
                    </div>
                </div>
                {% endif %}

                {% if images %}
                <div class="row">
                    {% for image in images %}
                        <div class="col-12 col-sm-3 mb-3">
                            <a href="{{ image.popup }}" data-fancybox="group">
                                <img src="{{ image.thumb }}" class="img-fluid border rounded shadow-sm" alt="{{ heading_title }}" />
                            </a>
                        </div>
                    {% endfor %}
                </div>
                {% endif %}

            </div>


        </div>

    </div>
</section>



{{ footer }}