{{ header }}

{% include theme_dir ~ '/template/common/_breadcrumb.twig' with { breadcrumbs: breadcrumbs } %}


<section class="my-3">
    <div id="information-information" class="container">
        <div class="row">

            <div class="col-12 col-xl-12">
                <div class="row ">

                    {% for specialist in specialists %}
                        <div class="item col-12 col-sm-12 col-md-4 mb-5">
                            <div class="row">
                                {% if specialist.thumb %}
                                    <div class="image col-md-12">
                                        <a href="{{ specialist.href }}">
                                            <img src="{{ specialist.thumb }}" class="img-fluid rounded-0" alt="">
                                        </a>
                                    </div>
                                {% endif %}
                                <div class="description col-md-12">
                                    <h3 class="h5 my-3 font-weight-bold">
                                        <a href="{{ specialist.href }}">
                                            {{ specialist.name }}
                                        </a>
                                    </h3>
                                    {% if specialist.anons %}
                                        <div class="specialists_content">
                                            <p>{{ specialist.anons }}</p>
                                        </div>
                                    {% endif %}
                                    {# {% if specialist.href %}
                                    <a href="{{ specialist.href }}" class="btn btn-primary2 rounded-0 px-0">Подробнее <i class="fa fa-angle-right"></i></a>
                                    {% endif %} #}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>

            {# <div class="d-none d-md-none d-xl-block col-xl-3">
                <div class="mb-8 border border-width-2 border-color-3 borders-radius-6">
                    <div class="aside-list list-group list-group-flush">
                        {% for specialist in specialists %}
                        {% if specialist.specialist_id == specialist_id %}
                            <a href="{{ specialist.href }}" class="list-group-item px-4 py-2 active">{{ specialist.name }}</a>
                        {% else %}
                            <a href="{{ specialist.href }}" class="list-group-item px-4 py-2">{{ specialist.name }}</a>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div> #}


        </div>

    </div>
</section>






{{ footer }}