<div class="row no-gutters align-items-center mb-3">
    <div class="col-12 col-sm-3 px-3 py-2">
        <h4 class="h6 m-0">Цена (руб)</h4>
    </div>
    <div class="col-12 col-sm-9">
        <div id="filter-price">
            <div class="form-group m-0">
                <div class="input-group input-group-sm m-0">
                    <div class="input-group-prepend">
                        <div class="input-group-text">от</div>
                    </div>
                    <input type="text" class="form-control " name="filter[price][from]" value="{{ filter_price[0] }}" min="{{ min_price }}">
                    <div class="input-group-prepend">
                        <div class="input-group-text">до</div>
                    </div>
                    <input type="text" class="form-control " name="filter[price][to]" value="{{ filter_price[1] }}" max="{{ max_price }}">
                </div>
            </div>
        </div>
    </div>
</div>