{% if filter_groups %}

{% for filter_group in filter_groups %}
    {% set class = '' %}
    {% if not loop.first %}
{#        {% set class = 'border-top' %}#}
    {% endif %}
    <div class="row no-gutters align-items-center border-bottom {{ class }}">
        <div class="col-12 col-sm-3 px-3 py-2">
            <h4 class="h6 m-0">{{ filter_group.name }}</h4>
        </div>
        <div class="col-12 col-sm-9">
            <ul class="list-group list-group-horizontal list-unstyled" id="filter-group{{ filter_group.filter_group_id }}">
                {% for filter in filter_group.filter %}
{#                    <li class="list-group-item">#}
                    <li class="px-2">
                        <div class="checkbox">
                            <label class="m-0">
                                {% if filter.filter_id in filter_category %}
                                    <input type="checkbox" name="filter[]" value="{{ filter.filter_id }}" checked="checked" />
                                    {{ filter.name }}
                                {% else %}
                                    <input type="checkbox" name="filter[]" value="{{ filter.filter_id }}" />
                                    {{ filter.name }}
                                {% endif %}
                            </label>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endfor %}


{% endif %}