<a href="{{ category.href }}" class="font-weight-bold">
    {% if category.thumb %}
        <div>
            <img src="{{ category.thumb }}" class="img-fluid border rounded" alt="">
        </div>
    {% endif %}
    <div>
        <h2 class="h5 text-center my-2">{{ category.name }}</h2>
    </div>
</a>