<section>
    <div class="container">

        <div class="row">
            <div class="container-fluid">

                {% if infoblock_featured_name %}
                    <h2 class="text-center h4 text-uppercase">{{ infoblock_featured_name }}</h2>
                {% endif %}
                {% if infoblock_featured_description %}
                    <p class="text-center">{{ infoblock_featured_description }}</p>
                {% endif %}

            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center">

                <ul class="nav nav-pills d-inline-flex justify-content-center mb-5" id="myTab" role="tablist">
                    {% set i = 1 %}
                    {% for featured in featureds %}
                        {% set selected = 'false' %}
                        {% set active = '' %}
                        {% if i == 1 %}
                            {% set selected = 'true' %}
                            {% set active = 'active' %}
                        {% endif %}
                        <li class="nav-item {{ active }}">
                            <a aria-controls="tab-{{ i }}" aria-selected="{{ selected }}" class="nav-link {{ active }}" data-toggle="tab" href="#tab-{{ i }}" id="link-tab-{{ i }}" role="tab">{{ featured.name }}</a>
                        </li>
                        {% set i = i + 1 %}
                    {% endfor %}
                </ul>

                <div class="tab-content" id="myTabContent">
                    {% set i = 1 %}
                    {% for featured in featureds %}
                        {% set active = '' %}
                        {% if i == 1 %}
                            {% set active = 'show active' %}
                        {% endif %}
                        <div aria-labelledby="link-tab-{{ i }}" class="tab-pane fade {{ active }}" id="tab-{{ i }}" role="tabpanel">
                            <div class="row" id="featured-products-{{ i }}">
                                {% for product in featured.products %}
                                    <div class="product-layout product-grid col-12 col-md-4 col-lg-3 mb-4">
                                        {% include theme_dir ~ '/template/product/_products.twig' %}
                                    </div>
                                {% endfor %}
                                {# {% for product in featured.products %}
                                <div class="col-12 col-md-4 col-lg-3 mb-4">
                                    <div class="inner border">
                                        <div class="image position-relative">
                                            <a href="{{ product.href }}">
                                                <img src="{{ product.thumb }}" alt="{{ product.name }}" class="img-fluid"/>
                                            </a>
                                            <a class="fancybox fancybox.iframe fancybox-quickshop" href="{{ product.href }}&quickshop=1" rel="group-{{ i }}"><i class="fa fa-search"></i></a>
                                        </div>
                                        <div class="product-description">
                                            <div class="product-title px-3 py-3">
                                                <h3 class="h6"><a href="{{ product.href }}" class="font-weight-bold">{{ product.name }}</a></h3>
                                            </div>
                                            {% if product.price %}
                                            <div class="product-price px-3 py-3 bg-orange">
                                                <span class="price font-weight-bold">{{ product.price }}</span>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                {% endfor %} #}
                            </div>
                            {% if featured.total > featured.limit %}
                                <div class="row ajax-loader">
                                    <div class="col-12">
                                        <button type="button" class="btn btn-primary px-4" id="getProduct{{ i }}" data-id="{{ featured.module_id }}" data-circle="1" data-group="{{ i }}">Смотреть еще</button>
                                    </div>

                                    <script>

                                        $('.ajax-loader .btn').on('click', function() {
                                            var $btn = $('#getProduct{{ i }}');

                                            $.ajax({
                                                url: 'index.php?route=product/product/products&module_id=' + $btn.data('id') + '&circle=' + $btn.attr('data-circle') + '&group=' + $btn.data('group') ,
                                                dataType: 'html',
                                                success: function(html) {
                                                    // console.log(html);
                                                    var circle = parseInt($btn.attr('data-circle'), 10);

                                                    $btn.attr('data-circle', circle + 1);

                                                    $('#featured-products-' + $btn.data('group')).append(html);

                                                    autoHeight(".product-title");

                                                    if (html.length === 0) {
                                                        $btn.remove();
                                                    }

                                                },
                                                error: function(xhr, ajaxOptions, thrownError) {
                                                    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
                                                }
                                            });
                                        });

                                    </script>
                                </div>
                            {% endif %}
                        </div>
                        {% set i = i + 1 %}
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</section>


<script>

    jQuery(document).ready(function($) {
        autoHeight(".product-title");
    });

    function autoHeight(items_class)
    {
        var maxHeight = 0;

        $(items_class).each(function(){
            if ( $(this).height() > maxHeight )
            {
                maxHeight = $(this).height();
            }
        });

        $(items_class).height(maxHeight);
    }
</script>