<div class="product-inner product-thumb border pb-2">
    <div class="image text-center">
        <a href="{{ product.href }}" class="overlay d-flex position-relative overflow-hidden justify-content-center" data-fancybox="group" data-type="iframe" data-src="{{ product.quickview }}" data-caption="{{ product.name }}">
            <img src="{{ product.thumb }}" alt="{{ product.name }}" class="img-fluid">
            <div class="hover-overlay d-flex justify-content-center align-items-center">
                <i class="fa fa-search"></i>
            </div>
        </a>
    </div>
    <div class="text-center px-3">
        <div class="caption">
            <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>

            {% if product.price %}
                <div>
                    {{ product.price }}
                </div>
            {% endif %}
        </div>
        <div class="button-group">
            <button type="button" class="btn btn-primary" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');">
                <i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span>
            </button>
        </div>
    </div>
</div>