{% for category in specials.categories %}
    {% if category.category_id == category_id %}

        {% set i = 1 %}
        {% for product in category.products %}
            {% if i > start and i <= (start + limit) %}
                <div class="col-12 col-lg-3 col-md-6 mb-4">
                    {% set j = category.category_id %}
                    {% include theme_dir ~ '/template/product/_products.twig' %}
                </div>
            {% endif %}
            {% set i = i + 1 %}
        {% endfor %}

    {% endif %}
{% endfor %}