<div class="row no-gutters justify-content-end filter-sorts mb-4">
    <div class="col-12 col-sm-1 col-lg-1 mr-auto">
        <div class="btn-group btn-group-sm">
            <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_list }}">
                <i class="fa fa-th-list fa-lg"></i>
            </button>
            <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="{{ button_grid }}">
                <i class="fa fa-th fa-lg"></i>
            </button>
        </div>
    </div>

    <div class="col-12 col-sm-5 col-lg-5 mr-2">
        <div class="form-row">
            <div class="col-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="validationDefaultUsername">сортировать</label>
                    </div>
                    <select id="input-sort" class="form-control" onchange="location = this.value;">
                        {% for sorts in sorts %}
                            {% if sorts.value == '%s-%s'|format(sort, order) %}
                                <option value="{{ sorts.href }}" selected="selected">{{ sorts.text }}</option>
                            {% else %}
                                <option value="{{ sorts.href }}">{{ sorts.text }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-sm-2 col-lg-2">
        <div class="form-row justify-content-end">
            <div class="col-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="validationDefaultUsername">по</label>
                    </div>
                    <select id="input-limit" class="form-control" onchange="location = this.value;">
                        {% for limits in limits %}
                            {% if limits.value == limit %}
                                <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
                            {% else %}
                                <option value="{{ limits.href }}">{{ limits.text }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
{#        <div class="form-group input-group input-group-sm">#}
{#            <label class="input-group-addon" for="input-limit">По:</label>#}
{#            <select id="input-limit" class="form-control" onchange="location = this.value;">#}
{#                {% for limits in limits %}#}
{#                    {% if limits.value == limit %}#}
{#                        <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>#}
{#                    {% else %}#}
{#                        <option value="{{ limits.href }}">{{ limits.text }}</option>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#            </select>#}
{#        </div>#}
    </div>
</div>