<section>
    <div class="container">

        <div class="row">
            <div class="container-fluid">

                {% if infoblock_special_name %}
                    <h2 class="text-center h4 text-uppercase">{{ infoblock_special_name }}</h2>
                {% endif %}
                {% if infoblock_special_description %}
                    <p class="text-center">{{ infoblock_special_description }}</p>
                {% endif %}

            </div>
        </div>

        <div class="row">


            <div class="col-12">

                <ul class="nav justify-content-center pb-3">
                    {% set i = 1 %}
                    {% for category in specials.categories %}

                        {% set catTabId = 'special-category' ~ category.category_id %}
                        {% set active = loop.first ? 'active' : '' %}
                        {% set selected = loop.first ? 'true' : 'false' %}

                        <li>
                            <a class="btn btn-primary default-btn mx-2 {{ active }}" data-toggle="tab" href="#{{ catTabId }}">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                </ul>

                <div class="tab-content mt-4">

                    {% for category in specials.categories %}

                        {% set catTabId = 'special-category' ~ category.category_id %}
                        {% set active = loop.first ? 'show active' : '' %}

                        <div class="tab-pane fade {{ active }}" id="{{ catTabId }}">

                            <div class="row special-container">
                                {% set i = 1 %}
                                {% for product in category.products %}
                                    {% if i <= limit %}
                                        <div class="col-12 col-lg-3 col-md-6 mb-4">
                                            {% set j = category.category_id %}
                                            {% include theme_dir ~ '/template/product/_products.twig' %}
                                        </div>
                                        {% set i = i + 1 %}
                                    {% endif %}
                                {% endfor %}
                            </div>

                            {% set class = '' %}
                            {% if (i - 1) >= category.total %}
                                {% set class = 'd-none' %}
                            {% endif %}
                            <div class="row">
                                <div class="col-12 text-center">
                                    <button type="button" class="btn btn-primary special-btn {{ class }}" category="{{ category.category_id }}" total="{{ category.total }}">Смотреть еще</button>
                                </div>
                            </div>
                        </div>


                    {% endfor %}

                </div>

            </div>

        </div>

    </div>
</section>

<script>

    $('.special-btn').on('click', function() {
        let specialBtn = $(this);
        let specialContainer = $('#special-category' + $(specialBtn).attr('category'));
        let specialTotal = $(specialBtn).attr('total');
        let countProducts = $(specialContainer).children().length;

        $.ajax({
            url: 'index.php?route=product/product/special_tabs&length=' + countProducts + '&category_id=' + $(specialBtn).attr('category'),
            dataType: 'html',
            success: function(html) {
                console.log(html);

                $(specialContainer).find('.special-container').append(html);
                // console.log(specialTotal);
                if (specialTotal <= (countProducts + {{ limit }})) {
                    $(specialBtn).addClass('d-none');
                }

            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

</script>