<section>
    <div class="container">

        <div class="row">
            <div class="container-fluid">

                {% if infoblock_special_name %}
                    <h2 class="text-center h4 text-uppercase">{{ infoblock_special_name }}</h2>
                {% endif %}
                {% if infoblock_special_description %}
                    <p class="text-center">{{ infoblock_special_description }}</p>
                {% endif %}

            </div>
        </div>

        <div class="row" id="special-container">

            {% for product in specials.products %}
                <div class="col-12 col-lg-3 col-md-6 mb-4">
                    {% include theme_dir ~ '/template/product/_products.twig' %}
                </div>
            {% endfor %}

        </div>

        <div class="row">
            <div class="col-12 text-center">
                <button type="button" class="btn btn-primary" id="special-btn">Смотреть еще</button>
            </div>
        </div>

    </div>
</section>

<script>
    let specialContainer = $('#special-container');
    let specialBtn = $('#special-btn');

    $(specialBtn).on('click', function() {
        let countProducts = $(specialContainer).children().length;

        $.ajax({
            url: 'index.php?route=product/product/special&length=' + countProducts,
            dataType: 'html',
            success: function(html) {
                // console.log(html);

                $(specialContainer).append(html);

                if ({{ specials.total }} <= (countProducts + {{ limit }})) {
                    $(specialBtn).addClass('d-none');
                }

            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

</script>