{{ header }}

{% include theme_dir ~ '/template/common/_breadcrumb.twig' with { breadcrumbs: breadcrumbs } %}

<section class="my-3">
    <div id="product-category" class="container">

        <div class="row">
            {{ column_left }}

            {% if column_left %}{% set class = 'col-sm-9' %}{% endif %}

            <div id="content" class="col-12 {{ class }}">

                {{ content_top }}

                {% if categories %}

                    {% if categories %}
                        <div class="row mb-4">
                            {% if products %}
                            <div class="col-12">
                                <h2 class="h5">Категории:</h2>
                            </div>
                            {% endif %}
                            
                            {% for category in categories %}
                                <div class="col-12 col-sm-4 col-lg-3 mb-2">
                                    {% include theme_dir ~ '/template/product/_categories.twig' with { category: category } %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                {% endif %}

                {% if products %}
                    {% if categories %}
                        <div class="row">
                            <div class="col-12">
                                <h2 class="h5">Продукция:</h2>
                            </div>
                        </div>
                    {% endif %}

                    {% include theme_dir ~ '/template/product/_sorts.twig' %}

                    <div class="row">
                        {% for product in products %}
                            <div class="product-layout product-list col-12">
                                {% include theme_dir ~ '/template/product/_products.twig' with { product: product } %}
                            </div>
                        {% endfor %}
                    </div>

                    <div class="row py-3">
                        <div class="col-sm-6 text-left">{{ pagination }}</div>
                        <div class="col-sm-6 text-right">{{ results }}</div>
                    </div>

                {% endif %}

                {% if thumb or description %}
                    <div class="row border-top pt-3">
                        <div class="col-12">
                            {% if thumb %}
                                <img src="{{ thumb }}" class="img-fluid border rounded float-left mr-3 mb-3" alt="{{ heading_title }}">
                            {% endif %}

                            {{ description }}
                        </div>
                    </div>
                {% endif %}

                {% if not categories and not products %}
                    <p>{{ text_empty }}</p>
                {% endif %}

                {{ content_bottom }}

            </div>

            {{ column_right }}

        </div>
    </div>
</section>


{{ footer }} 
