{{ header }}

{% include theme_dir ~ '/template/common/_breadcrumb.twig' with { breadcrumbs: breadcrumbs } %}

<section class="my-3">
    <div id="product-product" class="container">
        <div class="row">
            {{ column_left }}

            {% if column_left %}{% set class = 'col-sm-9' %}{% endif %}

            <div id="content" class="col-12 {{ class }}">

                {{ content_top }}

                <div class="row">

                    <div class="col-12 col-sm-6">
                        {% if thumb or images %}
                            <ul class="nav list-unstyled thumbnails">
                                {% if thumb %}
                                    <li class="nav-item col-12 px-1 mb-2 text-center">
                                        <a href="{{ popup }}" data-fancybox="group">
                                            <img src="{{ thumb }}" class="img-fluid shadow-sm rounded" alt="{{ heading_title }}" />
                                        </a>
                                    </li>
                                {% endif %}
                                {% if images %}
                                    {% for image in images %}
                                        <li class="nav-item col-2 px-1 mb-2">
                                            <a href="{{ image.popup }}" data-fancybox="group">
                                                <img src="{{ image.thumb }}" class="img-fluid shadow-sm rounded" alt="{{ heading_title }}" />
                                            </a>
                                        </li>
                                    {% endfor %}
                                {% endif %}
                            </ul>
                        {% endif %}

                    </div>

                    <div class="col-12 col-sm-6">

                        <h1>{{ heading_title }}</h1>

                        <ul class="list-unstyled">
                            <li>{{ text_stock }} {{ stock }}</li>
                        </ul>

                        {% if price %}
                            <div class="font-weight-bold h4 text-danger">
                                {{ price }}
                            </div>
                        {% endif %}

                        <div id="product">

                            {% include theme_dir ~ '/template/product/_options.twig' %}

                            <div class="form-group">
                                <label class="control-label" for="input-quantity">{{ entry_qty }}</label>
                                <input type="text" name="quantity" value="{{ minimum }}" size="2" id="input-quantity" class="form-control" />
                                <input type="hidden" name="product_id" value="{{ product_id }}" />
                                <br />
                                <button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg btn-block">{{ button_cart }}</button>
                            </div>
                            {% if minimum > 1 %}
                                <div class="alert alert-info"><i class="fa fa-info-circle"></i> {{ text_minimum }}</div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="col-12 mt-3">
                        <ul class="nav nav-tabs" id="productTab" role="tablist">
                            <li class="nav-item">
                                <a href="#description" class="nav-link active" id="description-tab" data-toggle="tab" role="tab" aria-controls="description" aria-selected="true">{{ tab_description }}</a>
                            </li>
                            {% if attribute_groups or product_filters %}
                                <li class="nav-item">
                                    <a href="#specification" class="nav-link" id="specification-tab" data-toggle="tab" role="tab" aria-controls="specification" aria-selected="false">{{ tab_attribute }}</a>
                                </li>
                            {% endif %}
                        </ul>
                        <div class="tab-content mt-3" id="productTabContent">
                            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">{{ description }}</div>
                            {% if attribute_groups or product_filters %}
                                <div class="tab-pane" id="specification" role="tabpanel" aria-labelledby="specification-tab">
                                    <table class="table table-bordered">
                                        {% for attribute_group in attribute_groups %}
                                            {% if attribute_groups|length > 1 %}
                                                <thead>
                                                <tr>
                                                    <td colspan="2"><strong>{{ attribute_group.name }}</strong></td>
                                                </tr>
                                                </thead>
                                            {% endif %}
                                        {% endfor %}
                                        <tbody>
                                        {% for attribute_group in attribute_groups %}
                                            {% for attribute in attribute_group.attribute %}
                                                <tr>
                                                    <td>{{ attribute.name }}</td>
                                                    <td>{{ attribute.text }}</td>
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                        {% if product_filters %}
                                            {% for filter_group in filter_groups %}
                                                <tr>
                                                    <td>{{ filter_group.name }}</td>
                                                    <td>
                                                        {% for filter in filter_group.filters %}
                                                            {% if not loop.first %}, {% endif %}{{ filter.name }}
                                                        {% endfor %}
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                {% include theme_dir ~ '/template/product/_related.twig' %}

                {{ content_bottom }}
            </div>
            {{ column_right }}
        </div>
    </div>
</section>
<script type="text/javascript"><!--
$('#button-cart').on('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
		dataType: 'json',
		beforeSend: function() {
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert-dismissible, .text-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
					}
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

			if (json['success']) {
				$('.breadcrumb').after('<div class="alert alert-success alert-dismissible">' + json['success'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');

				$('#cart > button').html('<span id="cart-total"><i class="fa fa-shopping-cart"></i> ' + json['total'] + '</span>');

				$('html, body').animate({ scrollTop: 0 }, 'slow');

				$('#cart > ul').load('index.php?route=common/cart/info ul li');
			}
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
});
//--></script>

{{ footer }} 
