:root {
	/*--primary: #3700ff;*/
	/*--secondary: #e60027;*/
	/*--orange: #ffd069;*/
	/*--dark: #242424;*/
}
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    /*color: #000;*/
    line-height: 1.6;
    font-size: 16px;
    font-weight: 400;
}
p {
    /*color: #000;*/
}
a {
    color: #343a40;
    transition: initial;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: #1d1d1d;
    text-transform: initial;
    font-weight: bold;
}

body:not(.page-home) #content {
	margin-bottom: 40px;
}

.bg-primary {
	background-color: var(--primary) !important;
}
.btn-primary {
	color: #fff;
	background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}
.btn-primary.active,
.btn-primary:hover {
	color: #fff;
	background-color: var(--dark) !important;
    border-color: var(--dark) !important;
}


.font-size-xs {
    font-size: 12px !important;
}
.font-size-sm {
    font-size: 14px !important;
}
.font-size-md {
    font-size: 16px !important;
}
.font-size-lg {
    font-size: 18px !important;
}
.font-size-xl {
    font-size: 20px !important;
}

.text-primary {
    color: var(--primary) !important;
}
.bg-secondary {
    background-color: var(--secondary);
}

.text-uppecase {
    text-transform: uppercase!important;
}
.text-black {
    color: black!important;
}

.hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0);
    transition: background-color ease-out 0.3s;
}

.overlay:hover .hover-overlay {
    background-color: rgba(0,0,0,0.6);
}

.overlay .fa-search {
    font-size: 24px;
    color: var(--primary);
}
.overlay:hover .fa-search {
    color: #fff;
}

.fancybox-slide--iframe .fancybox-content {
    width  : 600px;
    height : 440px;
    max-width  : 50%;
    max-height : 60%;
    margin: 0;
}

#product .input-group>.input-group-prepend {
    flex: 0 0 20%;
}
#product .input-group>.form-control {
    flex: 0 0 10%;
}
#product .input-group .input-group-text {
    width: 100%;
}







.main-menu .dropdown-toggle::after {
    display: none;
}

.logo,.logo a{
	color: #fff;
}

.footer_contact ul li.vk a {
    background: #4a76a8;
}
.footer_contact ul li.instagram a {
    background: #C13584;
}

.breadcrumb-item.active a {
    color: #000;
}

.filter-sorts .btn.active {
    color: var(--primary);
}





.page-home > section {
    padding: 60px 0;
}


























































/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {

}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {

}


/* Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {

}


@media (max-width: 575.98px) {

}




























