{{ header }}
<section class="section-breadcrumb">
    <div class="container">
        <div class="row h-100 py-4">
            <div class="col-md-5 align-self-center">
                <h1>{{ heading_title }}</h1>
            </div>
            <div class="col-md-7 align-self-center">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb bg-transparent justify-content-end m-0">
                        {% for breadcrumb in breadcrumbs %}
                            {% if loop.last %}
                                <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
                            {% else %}
                                <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<section class="section-checkout-cart">
    <div id="checkout-checkout" class="container">
        <div class="row">
            {{ column_left }}

            {% if column_left and column_right %}
                {% set class = 'col-sm-6' %}
            {% elseif column_left or column_right %}
                {% set class = 'col-sm-9' %}
            {% else %}
                {% set class = 'col-sm-12' %}
            {% endif %}
            <div id="content" class="{{ class }}">
                {{ content_top }}





                {% if success %}
                    {{ success }}
                {% endif %}

                {% if fail %}
                    {{ fail }}
                {% endif %}






                {% if not success %}
                    <form method="post">
                        <div class="row">
                            <div class="col-12">
                                {% if error.warning %}
                                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                        {{ error.warning }}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-sm-12 col-md-4">
                                <div class="card bg-light shadow-sm my-3">
                                    <div class="card-header">
                                        <h2 class="font-weight-bold">Выберите способ доставки</h2>
                                    </div>
                                    <div class="card-body">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="shipping_pickup" name="shipping" value="pickup" class="custom-control-input"
                                                   {% if not shipping or (shipping and shipping == 'pickup') %}checked{% endif %}>
                                            <label class="custom-control-label" for="shipping_pickup">{{ text_shipping_pickup }}</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="shipping_delivery" name="shipping" value="delivery" class="custom-control-input"
                                                   {% if shipping and shipping == 'delivery' %}checked{% endif %}>
                                            <label class="custom-control-label" for="shipping_delivery">{{ text_shipping_delivery }}</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="card bg-light shadow-sm my-3">
                                    <div class="card-header">
                                        <h2 class="font-weight-bold">Выберите способ оплаты</h2>
                                    </div>
                                    <div class="card-body">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="payment_bank" name="payment" value="bank" class="custom-control-input"
                                                   {% if not payment or (payment and payment == 'bank') %}checked{% endif %}>
                                            <label class="custom-control-label" for="payment_bank">{{ text_payment_bank }}</label>
                                        </div>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="payment_cash" name="payment" value="cash" class="custom-control-input"
                                                   {% if payment and payment == 'cash' %}checked{% endif %}>
                                            <label class="custom-control-label" for="payment_cash">{{ text_payment_cash }}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-8">
                                <div class="card bg-light shadow-sm my-3">
                                    <div class="card-header">
                                        <h2 class="font-weight-bold">Заполните личные данные</h2>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group required">
                                            <label class="control-label" for="name">{{ text_name }}</label>
                                            <input name="name" type="text" class="form-control" id="name" value="{{ name }}">
                                            {% if error.name %}
                                                <div class="text-danger">{{ error.name }}</div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group required">
                                            <label class="control-label" for="email">{{ text_email }}</label>
                                            <input name="email" type="email" class="form-control" id="email" value="{{ email }}">
                                            <small id="emailHelp" class="form-text text-muted">На почту будет отправлено письмо с копией заказа.</small>
                                            {% if error.email %}
                                                <div class="text-danger">{{ error.email }}</div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group required">
                                            <label class="control-label" for="phone">{{ text_phone }}</label>
                                            <input name="phone" type="text" class="form-control" id="phone" value="{{ phone }}">
                                            {% if error.phone %}
                                                <div class="text-danger">{{ error.phone }}</div>
                                            {% endif %}
                                        </div>
                                        <div class="collapse" id="collapseShipping">
                                            <div class="form-group required">
                                                <label class="control-label" for="address">{{ text_address }}</label>
                                                <input name="address" type="text" class="form-control" id="address" value="{{ address }}">
                                                {% if error.address %}
                                                    <div class="text-danger">{{ error.address }}</div>
                                                {% endif %}
                                            </div>
                                            <div class="form-group required">
                                                <label class="control-label" for="city">{{ text_city }}</label>
                                                <input name="city" type="text" class="form-control" id="city" value="{{ city }}">
                                                {% if error.city %}
                                                    <div class="text-danger">{{ error.city }}</div>
                                                {% endif %}
                                            </div>
                                            <div class="form-group required">
                                                <label class="control-label" for="code">{{ text_code }}</label>
                                                <input name="code" type="text" class="form-control" id="code" value="{{ code }}">
                                                {% if error.code %}
                                                    <div class="text-danger">{{ error.code }}</div>
                                                {% endif %}
                                            </div>
                                            <div class="form-group required">
                                                <label class="control-label" for="country">{{ text_country }}</label>
                                                <select name="country_id" id="country" class="custom-select">
                                                    <option value="">{{ text_select }}</option>
                                                    {% for country in countries %}
                                                        {% if country.country_id == country_id %}
                                                            <option value="{{ country.country_id }}" selected="selected">{{ country.name }}</option>
                                                        {% else %}
                                                            <option value="{{ country.country_id }}">{{ country.name }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                                {% if error.country_id %}
                                                    <div class="text-danger">{{ error.country_id }}</div>
                                                {% endif %}
                                            </div>
                                            <div class="form-group required">
                                                <label class="control-label" for="zone">{{ text_zone }}</label>
                                                <select name="zone_id" id="zone" class="custom-select">
                                                </select>
                                                {% if error.zone_id %}
                                                    <div class="text-danger">{{ error.zone_id }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label" for="comment">{{ text_comment }}</label>
                                            <textarea name="comment" class="form-control" id="comment" rows="2">{{ comment }}</textarea>
                                            {% if error.comment %}
                                                <div class="text-danger">{{ error.comment }}</div>
                                            {% endif %}
                                        </div>



                                        <div class="form-group required">
                                            <div class="custom-control custom-checkbox">
                                                {% if agree %}
                                                    <input type="checkbox" class="custom-control-input" name="agree" id="agree" value="1" checked="checked" />
                                                {% else %}
                                                    <input type="checkbox" class="custom-control-input" name="agree" id="agree" value="1" />
                                                {% endif %}
                                                <label class="custom-control-label" for="agree">{{ text_agree }}</label>
                                                {% if error.agree %}
                                                    <div class="text-danger">{{ error.agree }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="form-group required">
                                            {% if recaptcha %}
                                                <div class="g-recaptcha" data-sitekey="{{ recaptcha }}" style="display:flex; justify-content:center; margin: 0 0 15px;"></div>
                                                {% if error.captcha %}
                                                    <div class="text-danger">{{ error.captcha }}</div>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                        <div class="text-right">
                                            <button type="submit" id="confirm" class="btn btn-success font-weight-bold text-uppercase px-4">Подтвердить</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                {% endif %}





                {{ content_bottom }}
            </div>
            {{ column_right }}
        </div>
    </div>
</section>


<script type="text/javascript"><!--
    $(function(){
        var shipping = '{{ shipping }}';

        $('input[name=\'shipping\']').on('change', function(){
            if ($('#shipping_delivery:checked').length) {
                $('#collapseShipping').collapse('show');
            } else {
                $('#collapseShipping').collapse('hide');
            }
        });

        if (shipping === 'delivery') {
            $('#collapseShipping').collapse('show');
        }

    });
    //--></script>

<script type="text/javascript"><!--
    $('select[name=\'country_id\']').on('change', function() {
        $.ajax({
            url: 'index.php?route=checkout/checkout/country&country_id=' + this.value,
            dataType: 'json',
            beforeSend: function() {
                $('select[name=\'country_id\']').prop('disabled', true);
            },
            complete: function() {
                $('select[name=\'country_id\']').prop('disabled', false);
            },
            success: function(json) {
                html = '<option value="">{{ text_select }}</option>';

                if (json['zone'] && json['zone'] != '') {
                    for (i = 0; i < json['zone'].length; i++) {
                        html += '<option value="' + json['zone'][i]['zone_id'] + '"';

                        if (json['zone'][i]['zone_id'] == '{{ zone_id }}') {
                            html += ' selected="selected"';
                        }

                        html += '>' + json['zone'][i]['name'] + '</option>';
                    }
                } else {
                    html += '<option value="0" selected="selected">{{ text_none }}</option>';
                }

                $('select[name=\'zone_id\']').html(html);
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    });

    $('select[name=\'country_id\']').trigger('change');
    //--></script>

{{ footer }}