<section class="homebanner3">
    <div class="container">

        <div class="row">
            <div class="container-fluid">

                {% if infoblock_banner3_name %}
                    <h2 class="text-center h4 text-uppercase">{{ infoblock_banner3_name }}</h2>
                {% endif %}
                {% if infoblock_banner3_description %}
                    <p class="text-center">{{ infoblock_banner3_description }}</p>
                {% endif %}

            </div>
        </div>

        <div class="row justify-content-center">

            {% for homebanner3 in homebanner3s %}
                <div class="col-12 col-lg-3 col-md-6">
                    <div class="inner text-center">

                        {% if homebanner3.image %}
                            <div class="icon bg-light rounded border py-5 mb-3">
                                <img src="{{ homebanner3.image }}" alt="">
                            </div>
                        {% endif %}

                        <h3 class="h5">{{ homebanner3.name }}</h3>

                        {{ homebanner3.description }}

                        {% if homebanner3.href %}
                            <div>
                                <a href="{{ homebanner3.href }}" class="btn btn-primary btn-sm px-3">Подробнее</a>
                            </div>
                        {% endif %}

                    </div>
                </div>
            {% endfor %}

        </div>

    </div>
</section>
