<section class="homebanner5">
    <div class="container">

        <div class="row">
            <div class="container-fluid">

                {% if infoblock_banner5_name %}
                    <h2 class="text-center h4 text-uppercase">{{ infoblock_banner5_name }}</h2>
                {% endif %}
                {% if infoblock_banner5_description %}
                    <p class="text-center">{{ infoblock_banner5_description }}</p>
                {% endif %}

            </div>
        </div>

        <div class="row justify-content-center">

            {% for homebanner5 in homebanner5s %}
                <div class="col-12 col-lg-3 col-md-6">
                    <div class="inner text-center">

                        {% if homebanner5.image %}
                            <div class="icon bg-light rounded border mb-3">
                                <a href="{{ homebanner5.image }}" data-fancybox="license" data-caption="{{ homebanner5.name }}">
                                    <img src="{{ homebanner5.thumb }}" alt="">
                                </a>
                            </div>
                        {% endif %}

                        <h3 class="h5">{{ homebanner5.name }}</h3>

                        {{ homebanner5.description }}

                        {% if homebanner5.href %}
                            <div>
                                <a href="{{ homebanner5.href }}" class="btn btn-primary btn-sm px-3">Подробнее</a>
                            </div>
                        {% endif %}

                    </div>
                </div>
            {% endfor %}

        </div>

    </div>
</section>
