<style>
    .homebanner2 .inner {
        min-height: 164px;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: 100% 100%;
    }
</style>

<section class="homebanner2">
    <div class="container">

        <div class="row">
            <div class="container-fluid">

                {% if infoblock_banner2_name %}
                    <h2 class="text-center h4 text-uppercase">{{ infoblock_banner2_name }}</h2>
                {% endif %}
                {% if infoblock_banner2_description %}
                    <p class="text-center">{{ infoblock_banner2_description }}</p>
                {% endif %}

            </div>
        </div>

        <div class="row justify-content-center">

            {% for homebanner2 in homebanner2s %}
                <div class="col-12 col-lg-3 col-md-6">
                    <div class="inner text-center">

                        {% if homebanner2.image %}
                            <div class="icon bg-light rounded border py-5 mb-3">
                                <img src="{{ homebanner2.image }}" alt="">
                            </div>
                        {% endif %}

                        <h3 class="h5">{{ homebanner2.name }}</h3>

                        {{ homebanner2.description }}

                        {% if homebanner2.href %}
                            <div>
                                <a href="{{ homebanner2.href }}" class="btn btn-primary btn-sm px-3">Подробнее</a>
                            </div>
                        {% endif %}

                    </div>
                </div>
            {% endfor %}

        </div>

    </div>
</section>
