<style>
    .homebanner1 .inner {
        min-height: 164px;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
        background-size: 100% 100%;
    }
</style>

<section class="homebanner1">
    <div class="container">

        <div class="row">
            <div class="container-fluid">

                {% if infoblock_banner1_name %}
                    <h2 class="text-center h4 text-uppercase">{{ infoblock_banner1_name }}</h2>
                {% endif %}
                {% if infoblock_banner1_description %}
                    <p class="text-center">{{ infoblock_banner1_description }}</p>
                {% endif %}

            </div>
        </div>

        <div class="row">

            {% for homebanner1 in homebanner1s %}
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <a {% if homebanner1.href %}href="{{ homebanner1.href }}"{% endif %} class="text-decoration-none">
                        <div
                            class="inner bg-white shadow-sm border rounded p-3 p-md-3 p-lg-5 mb-4"
                            {% if homebanner1.image %}style="background-image: url({{ homebanner1.image }});"{% endif %}
                        >
                            <div class="text-break">
                                {{ homebanner1.description }}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}

        </div>

    </div>
</section>
