<section>
    <div class="container">

        <div class="row">
            <div class="container-fluid">

                {% if infoblock_advantage_name %}
                    <h2 class="text-center h4 text-uppercase">{{ infoblock_advantage_name }}</h2>
                {% endif %}
                {% if infoblock_advantage_description %}
                    <p class="text-center">{{ infoblock_advantage_description }}</p>
                {% endif %}

            </div>
        </div>

        <div class="row">

            {% for homeadvantage in homeadvantages %}
                <div class="col-sm-3">

                    {% if homeadvantage.image %}
                        <div class="icon">
                            <img src="{{ homeadvantage.image }}" class="img-fluid" alt="">
                        </div>
                    {% endif %}

                    <div class="content">

                        <h3 class="h5">{{ homeadvantage.name }}</h3>

                        {% if homeadvantage.description %}
                            <p class="m-0">
                                {{ homeadvantage.description }}
                            </p>
                        {% endif %}
                    </div>

                </div>
            {% endfor %}

        </div>

    </div>
</section>