<style>
    .main-slider .slider-content {
        min-height: 500px;
        max-height: 500px;
        overflow: hidden;
        padding: 40px 0;
    }
    .main-slider .card {
        background-color: rgba(255,255,255,.8);
    }
</style>

{% set componentId = 'carouselSliderControls' %}

<section class="main-slider m-0 p-0">
    <div id="{{ componentId }}" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">

            {% set i = 0 %}
            {% for homeslider in homesliders %}

                <div
                        class="carousel-item {% if loop.first %}active{% endif %}"
                        {% if homeslider.image %}
                            style="background-image: url({{ homeslider.image }});"
                        {% endif %}
                >

                    <div class="container h-100">
                        <div class="row h-100 justify-content-center">

                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <div class="d-flex slider-content h-100 align-items-center">
                                    <div class="card">
                                        <div class="card-body px-4">
                                            <div class="row text-center">

                                                {% if homeslider.name %}
                                                    <div class="col-12 mb-30">
                                                        <h2>{{ homeslider.name }}</h2>
                                                    </div>
                                                {% endif %}

                                                {% if homeslider.description %}
                                                    <div class="col-12 mb-30">
                                                        {{ homeslider.description }}
                                                    </div>
                                                {% endif %}

                                                {% if homeslider.href %}
                                                    <div class="col-12 mt-3">
                                                        <a href="{{ homeslider.href }}" class="btn btn-primary btn-sm px-3">Подробнее</a>
                                                    </div>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-12">
                                {# <div class="slider-item-image">
                                    <img src="catalog/view/theme/default/assets/images/slider/slider-item-1.png" alt="">
                                </div> #}
                            </div>

                        </div>
                    </div>

                </div>

                {% set i = i + 1 %}
            {% endfor %}

        </div>
        <a class="carousel-control-prev" href="#{{ componentId }}" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#{{ componentId }}" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>

<script>
    $('#{{ componentId }}').carousel({
        interval: false
    })
</script>