<section class="homebanner4">
    <div class="container">

        <div class="row">
            <div class="container-fluid">

                {% if infoblock_banner4_name %}
                    <h2 class="text-center h4 text-uppercase">{{ infoblock_banner4_name }}</h2>
                {% endif %}
                {% if infoblock_banner4_description %}
                    <p class="text-center">{{ infoblock_banner4_description }}</p>
                {% endif %}

            </div>
        </div>

        <div class="row justify-content-center">

            {% for homebanner4 in homebanner4s %}
                <div class="col-12 col-lg-3 col-md-6">
                    <div class="inner text-center">

                        {% if homebanner4.image %}
                            <div class="icon bg-light rounded border py-5 mb-3">
                                <img src="{{ homebanner4.image }}" alt="">
                            </div>
                        {% endif %}

                        <h3 class="h5">{{ homebanner4.name }}</h3>

                        {{ homebanner4.description }}

                        {% if homebanner4.href %}
                            <div>
                                <a href="{{ homebanner4.href }}" class="btn btn-primary btn-sm px-3">Подробнее</a>
                            </div>
                        {% endif %}

                    </div>
                </div>
            {% endfor %}

        </div>

    </div>
</section>
