{% set componentId = 'carouselTestimonialControls' %}

<section class="hometestimonial bg-light py-5">
    <div class="container">

        <div class="row">
            <div class="container-fluid">

                {% if infoblock_testimonial_name %}
                    <h2 class="text-center h4 text-uppercase">{{ infoblock_testimonial_name }}</h2>
                {% endif %}
                {% if infoblock_testimonial_description %}
                    <p class="text-center">{{ infoblock_testimonial_description }}</p>
                {% endif %}

            </div>
        </div>


        <div id="{{ componentId }}" class="carousel slide {#carousel-fade#}" data-ride="carousel">

            <div class="carousel-inner pb-5">
                {% for hometestimonial in hometestimonials %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <div class="info">
                            <h3>{{ hometestimonial.name }}</h3>
                            <span>{{ hometestimonial.job }}</span>
                        </div>
                        <p>{{ hometestimonial.description }}</p>
                    </div>
                {% endfor %}
            </div>

            <ol class="carousel-indicators text-dark">
                {% for hometestimonial in hometestimonials %}
                    <li data-target="#{{ componentId }}" data-slide-to="{{ loop.index - 1 }}" class="bg-dark {% if loop.first %}active{% endif %}"></li>
                {% endfor %}
            </ol>

{#            <a class="carousel-control-prev" href="#{{ componentId }}" role="button" data-slide="prev">#}
{#                <span class="carousel-control-prev-icon" aria-hidden="true"></span>#}
{#                <span class="sr-only">Previous</span>#}
{#            </a>#}
{#            <a class="carousel-control-next" href="#{{ componentId }}" role="button" data-slide="next">#}
{#                <span class="carousel-control-next-icon" aria-hidden="true"></span>#}
{#                <span class="sr-only">Next</span>#}
{#            </a>#}

        </div>

    </div>
</section>

<script>
    $('#{{ componentId }}').carousel({
        interval: false
    })
</script>