{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-homebanner5" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
			</div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
		<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
			</div>
			<div class="panel-body">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-homebanner5" class="form-horizontal">
					<ul class="nav nav-tabs">
						<li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
					</ul>
					<div class="tab-content">
						<div class="tab-pane active" id="tab-general">
							<ul class="nav nav-tabs" id="language">
								{% for language in languages %}
								<li><a href="#language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
								{% endfor %}
							</ul>
							<div class="tab-content">
								{% for language in languages %}
								<div class="tab-pane" id="language{{ language.language_id }}">
									<div class="form-group required">
										<label class="col-sm-2 control-label" for="input-name{{ language.language_id }}">{{ entry_name }}</label>
										<div class="col-sm-10">
											<input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name{{ language.language_id }}" class="form-control" />
											
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="input-description{{ language.language_id }}">{{ entry_description }}</label>
										<div class="col-sm-10">
											<textarea name="description" placeholder="{{ entry_description }}" id="input-description{{ language.language_id }}" class="form-control">{{ description }}</textarea>
										</div>
									</div>
									<div class="form-group ">
										<label class="col-sm-2 control-label" for="input-link">{{ entry_link }}</label>
										<div class="col-sm-10">
											<input type="text" name="link" value="{{ link }}" placeholder="{{ entry_link }}" id="input-link" class="form-control" />
										</div>
									</div>
									<div class="form-group ">
										<label class="col-sm-2 control-label">{{ entry_image }}</label>
										<div class="col-sm-10"><a href="" id="thumb-image" data-toggle="image" class="img-thumbnail"><img src="{{ thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
											<input type="hidden" name="image" value="{{ image }}" id="input-image" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
										<div class="col-sm-10">
											<input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
										</div>
									</div>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
										<div class="col-sm-10">
											<select name="status" id="input-status" class="form-control">
												{% if status %}
										<option value="1" selected="selected">{{ text_enabled }}</option>
										<option value="0">{{ text_disabled }}</option>
										{% else %}
										<option value="1">{{ text_enabled }}</option>
										<option value="0" selected="selected">{{ text_disabled }}</option>
										{% endif %}
											</select>
										</div>
									</div>
									
									<div class="form-group hide">
										<label class="col-sm-2 control-label" for="input-manipulator">{{ entry_manipulator }}</label>
										<div class="col-sm-10">
											<select name="manipulator" id="input-manipulator" class="form-control">
												<option value="0">Нет</option>
												<option value="1" {% if manipulator == 1 %}selected="selected"{% endif %}>Марка 1</option>
												<option value="2" {% if manipulator == 2 %}selected="selected"{% endif %}>Марка 2</option>
												<option value="3" {% if manipulator == 3 %}selected="selected"{% endif %}>Марка 3</option>
											</select>
										</div>
									</div>
									
									<div class="form-group hide">
										<label class="col-sm-2 control-label" for="input-weight">{{ entry_weight }}</label>
										<div class="col-sm-10">
											<input type="text" name="weight" value="{{ weight }}" placeholder="{{ entry_weight }}" id="input-weight" class="form-control" />
										</div>
									</div>
									<div class="form-group hide">
										<label class="col-sm-2 control-label" for="input-length">{{ entry_length }}</label>
										<div class="col-sm-10">
											<input type="text" name="length" value="{{ length }}" placeholder="{{ entry_length }}" id="input-length" class="form-control" />
										</div>
									</div>
									<div class="form-group hide">
										<label class="col-sm-2 control-label" for="input-width">{{ entry_width }}</label>
										<div class="col-sm-10">
											<input type="text" name="width" value="{{ width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control" />
										</div>
									</div>
									<div class="form-group hide">
										<label class="col-sm-2 control-label" for="input-indent">{{ entry_indent }}</label>
										<div class="col-sm-10">
											<input type="text" name="indent" value="{{ indent }}" placeholder="{{ entry_indent }}" id="input-indent" class="form-control" />
										</div>
									</div>
									<div class="form-group hide">
										<label class="col-sm-2 control-label" for="input-fuel_need">{{ entry_fuel_need }}</label>
										<div class="col-sm-10">
											<input type="text" name="fuel_need" value="{{ fuel_need }}" placeholder="{{ entry_fuel_need }}" id="input-fuel_need" class="form-control" />
										</div>
									</div>
									<div class="form-group hide">
										<label class="col-sm-2 control-label" for="input-fuel_cost">{{ entry_fuel_cost }}</label>
										<div class="col-sm-10">
											<input type="text" name="fuel_cost" value="{{ fuel_cost }}" placeholder="{{ entry_fuel_cost }}" id="input-fuel_cost" class="form-control" />
										</div>
									</div>
									<div class="form-group hide">
										<label class="col-sm-2 control-label" for="input-amortization">{{ entry_amortization }}</label>
										<div class="col-sm-10">
											<input type="text" name="amortization" value="{{ amortization }}" placeholder="{{ entry_amortization }}" id="input-amortization" class="form-control" />
										</div>
									</div>
									<div class="form-group hide">
										<label class="col-sm-2 control-label" for="input-interest_seller">{{ entry_interest_seller }}</label>
										<div class="col-sm-10">
											<input type="text" name="interest_seller" value="{{ interest_seller }}" placeholder="{{ entry_interest_seller }}" id="input-interest_seller" class="form-control" />
										</div>
									</div>
									<div class="form-group hide">
										<label class="col-sm-2 control-label" for="input-tariff_driver">{{ entry_tariff_driver }}</label>
										<div class="col-sm-10">
											<input type="text" name="tariff_driver" value="{{ tariff_driver }}" placeholder="{{ entry_tariff_driver }}" id="input-tariff_driver" class="form-control" />
										</div>
									</div>
									<div class="form-group hide">
										<label class="col-sm-2 control-label" for="input-tariff_landing">{{ entry_tariff_landing }}</label>
										<div class="col-sm-10">
											<input type="text" name="tariff_landing" value="{{ tariff_landing }}" placeholder="{{ entry_tariff_landing }}" id="input-tariff_landing" class="form-control" />
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />
	<link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />
	<script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script> 
	<script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script> 
	<script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script> 
	<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
	<link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
	<script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
	<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
	<script type="text/javascript"><!--
		$('#language a:first').tab('show');
		//-->
	</script>
</div>
{{ footer }}