<div class="col-12 mt-3">
    <ul class="nav nav-pills nav-fill" id="aboutTab" role="tablist">
        <li class="nav-item">
            <a href="#about" class="nav-link active" id="about-tab" data-toggle="tab" role="tab" aria-controls="about" aria-selected="true">
                О компании
            </a>
        </li>
        <li class="nav-item">
            <a href="#license" class="nav-link" id="license-tab" data-toggle="tab" role="tab" aria-controls="license" aria-selected="false">
                Лицензии
            </a>
        </li>
        <li class="nav-item">
            <a href="#testimonial" class="nav-link" id="testimonial-tab" data-toggle="tab" role="tab" aria-controls="testimonial" aria-selected="false">
                Отзывы
            </a>
        </li>
        <li class="nav-item">
            <a href="#portfolio" class="nav-link" id="portfolio-tab" data-toggle="tab" role="tab" aria-controls="portfolio" aria-selected="false">
                Портфолио
            </a>
        </li>
    </ul>
    <div class="tab-content mt-3" id="aboutTabContent">
        <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
            {{ description }}
        </div>
        <div class="tab-pane" id="license" role="tabpanel" aria-labelledby="license-tab">
            {{ homebanner5 }}
        </div>
        <div class="tab-pane" id="testimonial" role="tabpanel" aria-labelledby="testimonial-tab">
            {{ hometestimonial }}
        </div>
        <div class="tab-pane" id="portfolio" role="tabpanel" aria-labelledby="portfolio-tab">
            {{ homeportfolio }}
        </div>
    </div>
</div>