{{ header }}

{% include theme_dir ~ '/template/common/_breadcrumb.twig' with { breadcrumbs: breadcrumbs } %}

<section class="my-3">
    <div id="information-contact" class="container">
        <div class="row">

            {{ column_left }}

            {% if column_left %}{% set class = 'col-sm-9' %}{% endif %}

            <div id="content" class="col-12 {{ class }}">

                {{ content_top }}




                <div class="row mb-5 contact-container align-items-center">
                    <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-body d-flex">
                                <div class="icon mr-2">
                                    <i class="fa fa-map-marker-alt"></i>
                                </div>
                                <p>{{ address }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6">
                        <div class="card">
                            <div class="card-body d-flex">
                                <div class="icon mr-2">
                                    <i class="fa fa-clock"></i>
                                </div>
                                {{ infoblock_contact_open }}
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                        <div class="card">
                            <div class="card-body">
                                <ul class="list-unstyled">
                                    {% if infoblock_contact_telephone %}
                                        <li><i class="fa fa-phone fa-rotate-90"></i>  {{ infoblock_contact_telephone }}</li>
                                    {% endif %}
                                    {% if infoblock_contact_telephone2 %}
                                        <li><i class="fa fa-phone fa-rotate-90"></i>  {{ infoblock_contact_telephone2 }}</li>
                                    {% endif %}
                                    {% if infoblock_contact_telephone3 %}
                                        <li><i class="fa fa-phone fa-rotate-90"></i>  {{ infoblock_contact_telephone3 }}</li>
                                    {% endif %}
                                    {% if infoblock_contact_email %}
                                        <li><i class="fa fa-envelope"></i> {{ infoblock_contact_email }}</li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="row mb-5">
                    <div class="col-12 feedback-container">
                        <div class="mb-3">
                            <h3 class="section-title mb-0 font-size-25">Обратная связь</h3>
                        </div>
                        <form class="js-validate" novalidate="novalidate" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <!-- Input -->
                                    <div class="js-form-message mb-4">
                                        <input type="text" name="name" value="{{ name }}" id="input-name" class="form-control" placeholder="{{ entry_name }} *" />
                                        {% if error_name %}
                                            <div class="text-danger">{{ error_name }}</div>
                                        {% endif %}
                                    </div>
                                    <!-- End Input -->
                                </div>

                                <div class="col-md-6">
                                    <!-- Input -->
                                    <div class="js-form-message mb-4">
                                        <input type="text" name="email" value="{{ email }}" id="input-email" class="form-control" placeholder="{{ entry_email }} *" />
                                        {% if error_email %}
                                            <div class="text-danger">{{ error_email }}</div>
                                        {% endif %}
                                    </div>
                                    <!-- End Input -->
                                </div>

                                <div class="col-md-12">
                                    <div class="js-form-message mb-4">
                                        <textarea name="enquiry" rows="5" id="input-enquiry" class="form-control" placeholder="{{ entry_enquiry }} *">{{ enquiry }}</textarea>
                                        {% if error_enquiry %}
                                            <div class="text-danger">{{ error_enquiry }}</div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="js-form-message mb-4">
                                        {{ captcha }}
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <div class="mb-3 border-0">
                                        <label class="m-0">
                                            {% if agree %}
                                                <input type="checkbox" name="agree" value="1" checked="checked" />
                                            {% else %}
                                                <input type="checkbox" name="agree" value="1" />
                                            {% endif %}
                                            {{ text_agree }}</label>
                                        {% if error_agree %}
                                            <div class="text-danger">{{ error_agree }}</div>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary px-5">Отправить</button>
                            </div>
                        </form>
                    </div>
                </div>







                <div class="row mb-5">
                    <div class="col-12 map-container">
                        <div class="mb-3">
                            <h3 class="section-title mb-0 font-size-25">Местоположение</h3>
                        </div>
                        <nav>
                            <div class="nav nav-pills nav-fill" id="nav-tab" role="tablist">
                                {% if infoblock_contact_coords or infoblock_contact_geocode %}
                                    <a class="nav-item nav-link border rounded-0 active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Карта</a>
                                {% endif %}
                                {% if infoblock_contact_imagemap %}
                                    <a class="nav-item nav-link border rounded-0 border-left-0" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Фото</a>
                                {% endif %}
                            </div>
                        </nav>
                        <div class="tab-content m-0" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                    {% if infoblock_contact_coords %}
                                    <div class="map">
                                        <div id="map" class="border" style="width: 100%; height: calc(623px + 2px);"></div>
                                        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
                                        <script type="text/javascript">

                                            //55.669295, 52.341580
                                            function init() {
                                                var myMap = new ymaps.Map("map", {
                                                        center: [{{ infoblock_contact_coords }}],
                                                        zoom: 16
                                                    }, {
                                                        searchControlProvider: 'yandex#search'
                                                    }),

                                                    // Создаем геообъект с типом геометрии "Точка".
                                                    myGeoObject = new ymaps.GeoObject({
                                                        // Опции.
                                                        // Иконка метки будет растягиваться под размер ее содержимого.
                                                        preset: 'islands#blackStretchyIcon',
                                                        // Метку можно перемещать.
                                                        draggable: false
                                                    });

                                                myMap.geoObjects
                                                    .add(myGeoObject)
                                                    .add(new ymaps.Placemark([{{ infoblock_contact_coords }}], {
                                                        balloonContent: '<strong>{{ infoblock_contact_address }}</strong><br>'
                                                    }, {
                                                        preset: 'islands#dotIcon',
                                                        iconColor: '#ee2f0b'
                                                    }));

                                                // window.addEventListener('resize', function (event, ui) {
                                                // myMap.container.fitToViewport();
                                                // });
                                            }

                                            function get_map_height() {
                                                var map_width = 0;
                                                var map_height = 0;
                                                // console.log(document.getElementById('top_map_height'));
                                                var outerdiv = document.getElementById('top_map_height');
                                                if (outerdiv !== null) {
                                                    var style = outerdiv.getBoundingClientRect();
                                                    map_width = style.width;
                                                    map_height = style.height;
                                                }

                                                if (map_height > 0) {
                                                    $("#map").height(map_height);
                                                }

                                                ymaps.ready(init);
                                            }

                                            $(document).ready(function() {
                                                'use strict';

                                                // ymap
                                                setTimeout(function() {
                                                    get_map_height();
                                                    // ymaps.ready(init);
                                                }, 1000);

                                            });

                                            // window.addEventListener('resize', function () {

                                            //     $('#map').empty();

                                            //     setTimeout(function() {
                                            //         get_map_height();
                                            //     }, 500);

                                            // });

                                        </script>
                                    </div>
                                    {% endif %}

                                    {% if infoblock_contact_geocode %}
                                        {{ infoblock_contact_geocode|html_entity_decode }}
                                    {% endif %}
                                </div>

                            {% if infoblock_contact_imagemap %}

                                {% set class = ''  %}
                                {% if not infoblock_contact_coords %}
                                    {% set class = 'active'  %}
                                {% endif %}
                                <div class="tab-pane fade {{ class }}" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                    <img src="{{ infoblock_contact_imagemap }}" alt="" class="img-fluid border" />
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                {{ content_bottom }}

            </div>

            {{ column_right }}

        </div>
    </div>
</section>

{{ footer }}