{{ header }}

{% include theme_dir ~ '/template/common/_breadcrumb.twig' with { breadcrumbs: breadcrumbs } %}



<section class="section-information-faq section-faq">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% if homefaqs %}
                    <style>
                        .accordion .card-header {
                            padding: 1rem 2rem;
                            background-color: #f7f7f7;
                            color: #333;
                        }
                        .accordion .card-header .btn {
                            position: relative;
                            outline: none;
                            box-shadow: none;
                            white-space: normal;
                            height: auto;
                            font-size: 14px;
                        }
                        .accordion .card-header .btn:before {
                            /*font-family: 'FontAwesome';*/
                            font-family: 'Font Awesome\ 5 Free';
                            /*font-family: 'Font Awesome\ 5 Pro';*/
                            font-weight: 900;
                            font-size: 8px;
                            content: "\f068";
                            position: absolute;
                            color: #fff;
                            transform: initial;
                            left: 0;
                            top: 50%;
                            margin: -7px 0 0 -7px;
                        }
                        .accordion .card-header .btn.collapsed:before {
                            /*font-family: 'FontAwesome';*/
                            font-family: 'Font Awesome\ 5 Free';
                            /*font-family: 'Font Awesome\ 5 Pro';*/
                            font-weight: 900;
                            font-size: 8px;
                            content: "\f067";
                            position: absolute;
                            color: inherit;
                            transform: initial;
                            left: 0;
                            top: 50%;
                            margin: -7px 0 0 -7px;
                        }
                        .accordion > .card .active {
                            background-color: var(--primary);
                        }
                        .accordion > .card .active button {
                            color: #fff;
                        }
                        .accordion > .card:not(:first-of-type):not(:last-of-type) {
                            border-bottom: 0;
                            border-radius: 0;
                            border-bottom: 1px solid;
                        }
                    </style>

                    <section class="homefaq">

                        <div class="container">

                            <div class="row">
                                <div class="container-fluid">

                                    {% if infoblock_faq_name %}
                                        <h2 class="text-center h4 text-uppercase">{{ infoblock_faq_name }}</h2>
                                    {% endif %}
                                    {% if infoblock_faq_description %}
                                        <p class="text-center">{{ infoblock_faq_description }}</p>
                                    {% endif %}

                                </div>
                            </div>

                            <div id="accordion" class="accordion">
                                {% set i = 1 %}
                                {% for homefaq in homefaqs %}
                                    {% set expanded = 'false' %}
                                    {% set collapsed = 'collapsed' %}
                                    {% set show = '' %}
                                    {% set class = '' %}
                                    {% if i == 1 %}
                                        {% set selected = 'true' %}
                                        {% set collapsed = '' %}
                                        {% set show = 'show' %}
                                        {% set class = 'active' %}
                                    {% endif %}

                                    <div class="card">
                                        <div class="card-header py-1 {{ class }}" id="heading-{{ i }}">
                                            <h5 class="mb-0"><button aria-controls="collapse-{{ i }}" aria-expanded="{{ expanded }}" class="btn bg-transparent text-left w-100 {{ collapsed }}" data-target="#collapse-{{ i }}" data-toggle="collapse">{{ homefaq.question }}</button></h5>
                                        </div>
                                        <div aria-labelledby="heading-{{ i }}" class="collapse {{ show }}" data-parent="#accordion" id="collapse-{{ i }}">
                                            <div class="card-body">
                                                {{ homefaq.answer }}
                                            </div>
                                        </div>
                                    </div>
                                    {% set i = i + 1 %}
                                {% endfor %}
                            </div>

                        </div>

                    </section>

                    <script>
                        $('#accordion').on('show.bs.collapse', function (e) {
                            // $(this).find('.card-header').addClass('bg-primary')
                            // var $clickedBtn = $(e.target).data('bs.collapse').$trigger;
                            $('#accordion').find('.card-header').removeClass('active');
                            $(e.target).parent().find('.card-header').addClass('active');
                        });
                    </script>

                {% endif %}
            </div>
        </div>
    </div>
</section>

{{ footer }}