{{ header }}

{% include theme_dir ~ '/template/common/_breadcrumb.twig' with { breadcrumbs: breadcrumbs } %}

<section class="my-3">
    <div id="information-information" class="container">
        <div class="row">

            {{ column_left }}

            {% if column_left %}{% set class = 'col-sm-9' %}{% endif %}

            <div id="content" class="col-12 {{ class }}">

                {{ content_top }}

                {{ description }}

                {{ content_bottom }}

            </div>

            {{ column_right }}

        </div>
    </div>
</section>

{{ footer }}