{% if categories %}
<div class="card">
    <div class="card-body p-0">
{#        {% include theme_dir ~ '/template/extension/module/category/_category_accordion.twig' %}#}
        {% include theme_dir ~ '/template/extension/module/category/_category_popup.twig' %}
    </div>
</div>
{% endif %}