<div class="card border-0 mb-3">
  <div class="card-body p-0">

    <div class="d-flex align-items-center">
      <div class="container-fluid">
        <h2 class="h5 font-weight-light">Выберите необходимые Вам параметры</h2>
      </div>
    </div>

    {% include theme_dir ~ '/template/extension/module/filter/_filter_price.twig' %}

    {% if filter_groups %}
{#      {% include theme_dir ~ '/template/extension/module/filter/_filter_default.twig' %}#}
      {% include theme_dir ~ '/template/extension/module/filter/_filter_top_buttons.twig' %}
    {% endif %}


    <div class="row no-gutters align-items-center justify-content-end">
      <button type="button" id="button-filter" class="btn btn-primary btn-sm px-5 my-2">{{ button_filter }}</button>
    </div>

  </div>
</div>


<script type="text/javascript"><!--
  $('#button-filter').on('click', function() {
    filter = [];
    price = '';
    action = '';

    $('input[name^=\'filter\']:checked').each(function(element) {
      filter.push(this.value);
    });

    if (filter.length !== 0) {
      action += '&filter=' + filter.join(',');
    }

    price_from = $('input[name^=\'filter[price][from]\']').val();
    price_to = $('input[name^=\'filter[price][to]\']').val();

    if (price_from !== '' || price_to !== '') {
      if (price_from !== '') {
        price += price_from;
      } else {
        price += '0';
      }
      if (price_to !== '') {
        price += ',' + price_to;
      } else {
        price += ',0';
      }
    }

    if (price.length !== 0) {
      action += '&price=' + price;
    }

    if (action !== '') {
      location = '{{ action }}' + action;
    }

  });
  //--></script>