{% if route|slice(0, 9) == 'checkout/' %}
  <fieldset>
    <legend>{{ text_captcha }}</legend>
    <div class="form-group required">
      <label class="control-label" for="input-payment-captcha">{{ entry_captcha }}</label>
      <input type="text" name="captcha" id="input-payment-captcha" class="form-control" autocomplete="off" />
      <img src="index.php?route=extension/captcha/basic/captcha" class="img-fluid captcha" alt="" />
    </div>
  </fieldset>
{% else %}
  <div class="form-row align-items-center">
    <div class="col-5">
      <input type="text" name="captcha" class="form-control {% if error_captcha %}is-invalid{% endif %}" id="input-captcha" autocomplete="off" placeholder="{{ entry_captcha }}" required>
    </div>
    <div class="col-7 text-center d-inline-flex">
      <img src="index.php?route=extension/captcha/basic/captcha" class="img-fluid" alt="">
      <button type="button" class="btn btn-transparent captcha m-0 border-0 py-1"><i class="fa fa-sync" aria-hidden="true"></i></button>
    </div>
    <div class="col-12">
      {% if error_captcha %}
        <div class="text-danger">{{ error_captcha }}</div>
      {% endif %}
      {#<div class="invalid-tooltip">
        {{ text_error_captcha }}
      </div>#}
    </div>
  </div>
{% endif %}