<div id="contact" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ tag_contact }}</h3>
    </div>
    <div class="panel-body">


        <div class="tab-content">

            <div class="tab-pane active" id="tab-contact">

                {% for key,value in contactTags %}

                    {% set currTag = attribute(tags.contact.tags.contact, key|split('_')[2]) %}

                    {% set class = '' %}
                    {% if currTag == false %}
                        {% set class = hideClass %}
                    {% endif %}

                    {% if value.type == 'image' %}

                        <div class="form-group {{ class }}">
                            <label class="col-sm-2 control-label" for="input-{{ key }}">{{ value.trans }}</label>
                            <div class="col-sm-10">
                                <a href="" id="thumb-{{ key }}" data-toggle="image" class="img-thumbnail">
                                    <img src="{{ value.thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" />
                                </a>
                                <input
                                    type="hidden"
                                    name="{{ key }}"
                                    value="{{ value.value }}"
                                    id="input-{{ key }}"
                                >
                            </div>
                        </div>

                    {% elseif key == 'infoblock_contact_geocode' %}

                        <div class="form-group {{ class }}">
                            <label class="col-sm-2 control-label" for="input-{{ key }}">{{ value.trans }}</label>
                            <div class="col-sm-10">
                            <textarea
                                    name="{{ key }}"
                                    rows="5"
                                    placeholder="{{ value.trans }}"
                                    id="input-{{ key }}"
                                    class="form-control"
                            >{{ value.value }}</textarea>
                            </div>
                        </div>

                    {% else %}

                        <div class="form-group {{ class }}">
                            <label class="col-sm-2 control-label" for="input-{{ key }}">{{ value.trans }}</label>
                            <div class="col-sm-10">
                                <input
                                    type="text"
                                    name="{{ key }}"
                                    value="{{ value.value }}"
                                    placeholder="{{ value.trans }}"
                                    id="input-{{ key }}"
                                    class="form-control"
                                >
                            </div>
                        </div>

                    {% endif %}

                {% endfor %}
            </div>



        </div>

    </div>
</div>
<script type="text/javascript"><!--
$('#contact .nav-tabs li:not(.hide):first a').tab('show');
//--></script>