<div id="homeblock" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ tag_homeblocks }}</h3>
    </div>
    <div class="panel-body">

        <ul class="nav nav-tabs">

            {% for key,value in homeblockTags %}

                {% set disable = false %}
                {% set currTag = attribute(tags.homeblock.tags, key) %}
                {% for tag in currTag %}
                    {% if tag == false %}
                        {% set disable = true %}
                    {% endif %}
                {% endfor %}

                {% set class = '' %}
                {% if disable %}
                    {% set class = hideClass %}
                {% endif %}
                <li class="{{ class }}">

                    <a href="#tab-{{ key }}" data-toggle="tab">{{ value.trans }}</a>

                </li>

            {% endfor %}

        </ul>

        <div class="tab-content">

            {% for key,value in homeblockTags %}


                <div class="tab-pane" id="tab-{{ key }}">

                    {% set currTag = attribute(tags.homeblock.tags, key) %}

                    {% set class = '' %}
                    {% if currTag.name == false %}
                        {% set class = hideClass %}
                    {% endif %}
                    <div class="form-group {{ class }}">
                        <label class="col-sm-2 control-label" for="input-infoblock_{{ key }}_name">{{ entry_infoblock_name }}</label>
                        <div class="col-sm-10">
                            <input
                                type="text"
                                name="infoblock_{{ key }}_name"
                                value="{{ value.name }}"
                                placeholder="{{ entry_infoblock_name }}"
                                id="input-infoblock_{{ key }}_name"
                                class="form-control"
                            >
                        </div>
                    </div>

                    {% set class = '' %}
                    {% if currTag.description == false %}
                        {% set class = hideClass %}
                    {% endif %}
                    <div class="form-group {{ class }}">
                        <label class="col-sm-2 control-label" for="input-infoblock_{{ key }}_description">{{ entry_infoblock_description }}</label>
                        <div class="col-sm-10">
                            <textarea
                                name="infoblock_{{ key }}_description"
                                rows="5"
                                placeholder="{{ entry_infoblock_description }}"
                                id="input-infoblock_{{ key }}_description"
                                class="form-control"
                            >{{ value.description }}</textarea>
                        </div>
                    </div>

                    {% set class = '' %}
                    {% if currTag.link == false %}
                        {% set class = hideClass %}
                    {% endif %}
                    <div class="form-group {{ class }}">
                        <label class="col-sm-2 control-label" for="input-infoblock_{{ key }}_link">{{ entry_infoblock_link }}</label>
                        <div class="col-sm-10">
                            <input
                                type="text"
                                name="infoblock_{{ key }}_link"
                                value="{{ value.link }}"
                                placeholder="{{ entry_infoblock_link }}"
                                id="input-infoblock_{{ key }}_link"
                                class="form-control"
                            >
                        </div>
                    </div>

                    {% set class = '' %}
                    {% if currTag.image == false %}
                        {% set class = hideClass %}
                    {% endif %}
                    <div class="form-group {{ class }}">
                        <label class="col-sm-2 control-label" for="input-infoblock_{{ key }}_image">{{ entry_infoblock_image }}</label>
                        <div class="col-sm-10">
                            <a href="" id="thumb-infoblock_{{ key }}_image" data-toggle="image" class="img-thumbnail">
                                <img src="{{ value.thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" />
                            </a>
                            <input
                                type="hidden"
                                name="infoblock_{{ key }}_image"
                                value="{{ value.image }}"
                                id="input-infoblock_{{ key }}_image"
                            >
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>

    </div>
</div>
<script type="text/javascript"><!--
$('#homeblock .nav-tabs li:not(.hide):first a').tab('show');
//--></script>