<div id="seo" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ tag_seo }}</h3>
    </div>
    <div class="panel-body">

        <ul class="nav nav-tabs">

            {% for key,value in seoTags %}

                {% set disable = false %}
                {% set currTag = attribute(tags.seo.tags, key) %}
                {% if currTag == false %}
                    {% set disable = true %}
                {% endif %}

                {% set class = '' %}
                {% if disable %}
                    {% set class = hideClass %}
                {% endif %}
                <li class="{{ class }}">

                    <a href="#tab-{{ key }}" data-toggle="tab">{{ value.trans }}</a>

                </li>

            {% endfor %}

        </ul>

        <div class="tab-content">

            {% for key,value in seoTags %}

                <div class="tab-pane" id="tab-{{ key }}">
                    <div class="form-group ">
                        <label class="col-sm-2 control-label" for="input-infoblock_{{ key }}_title">{{ entry_infoblock_seo_title }}</label>
                        <div class="col-sm-10">
                            <input
                                type="text"
                                name="infoblock_{{ key }}_title"
                                value="{{ value.title }}"
                                placeholder="{{ entry_infoblock_seo_title }}"
                                id="input-infoblock_{{ key }}_title"
                                class="form-control"
                            >
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-infoblock_{{ key }}_description">{{ entry_infoblock_seo_description }}</label>
                        <div class="col-sm-10">
                            <textarea
                                name="infoblock_{{ key }}_description"
                                rows="5"
                                placeholder="{{ entry_infoblock_description }}"
                                id="input-infoblock_{{ key }}_description"
                                class="form-control"
                            >{{ value.description }}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="input-infoblock_{{ key }}_keyword">{{ entry_infoblock_seo_keyword }}</label>
                        <div class="col-sm-10">
                            <textarea
                                name="infoblock_{{ key }}_keyword"
                                rows="5"
                                placeholder="{{ entry_infoblock_seo_keyword }}"
                                id="input-infoblock_{{ key }}_keyword"
                                class="form-control"
                            >{{ value.keyword }}</textarea>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>

    </div>
</div>
<script type="text/javascript"><!--
$('#seo .nav-tabs li:not(.hide):first a').tab('show');
//--></script>