<div id="social" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ tag_social }}</h3>
    </div>
    <div class="panel-body">


        <div class="tab-content">


            <div class="tab-pane active" id="tab-social">
                {% for key,value in socialTags %}

                    {% set currTag = attribute(tags.social.tags.social, key|split('_')[2]) %}

                    {% set class = '' %}
                    {% if currTag == false %}
                        {% set class = hideClass %}
                    {% endif %}

                    <div class="form-group {{ class }}">
                        <label class="col-sm-2 control-label" for="input-infoblock_{{ key }}">{{ value.trans }}</label>
                        <div class="col-sm-10">
                            <input
                                type="text"
                                name="{{ key }}"
                                value="{{ value.value }}"
                                placeholder="{{ value.trans }}"
                                id="input-infoblock_{{ key }}"
                                class="form-control"
                            >
                        </div>
                    </div>
                    {% endfor %}
            </div>



        </div>

    </div>
</div>
<script type="text/javascript"><!--
$('#social .nav-tabs li:not(.hide):first a').tab('show');
//--></script>