{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" form="form-portfolio" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
                <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
        <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_form }}</h3>
            </div>
            <div class="panel-body">
                <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-portfolio" class="form-horizontal">
                    <ul class="nav nav-tabs hide">
                        <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab-general">
                            <div class="form-group required">
                                <label class="col-sm-2 control-label" for="input-title">{{ entry_title }}</label>
                                <div class="col-sm-10">
                                    <input
                                        type="text"
                                        name="title"
                                        value="{{ title }}"
                                        placeholder="{{ entry_title }}"
                                        id="input-title"
                                        class="form-control"
                                    >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
                                <div class="col-sm-10">
                                    <select name="status" id="input-status" class="form-control">
                                        {% if status %}
                                            <option value="1" selected="selected">{{ text_enabled }}</option>
                                            <option value="0">{{ text_disabled }}</option>
                                        {% else %}
                                            <option value="1">{{ text_enabled }}</option>
                                            <option value="0" selected="selected">{{ text_disabled }}</option>
                                        {% endif %}
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
                                <div class="col-sm-10">
                                    <input type="text" name="sort_order" value="{{ sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group"></div>
                            <div class="table-responsive">
                                <table id="images" class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <td class="text-left">{{ entry_additional_image }}</td>
                                        <td class="text-left">{{ entry_title }}</td>
                                        <td class="text-left">{{ entry_special }}</td>
                                        <td class="text-right">{{ entry_sort_order }}</td>
                                        <td></td>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% set image_row = 0 %}
                                    {% for portfolio_image in portfolio_images %}
                                        <tr id="image-row{{ image_row }}">
                                            <td class="text-left">
                                                <a href="" id="thumb-image{{ image_row }}" data-toggle="image" class="img-thumbnail">
                                                    <img src="{{ portfolio_image.thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" />
                                                </a>
                                                <input type="hidden" name="portfolio_image[{{ image_row }}][image]" value="{{ portfolio_image.image }}" id="input-image{{ image_row }}" />
                                            </td>
                                            <td class="text-right">
                                                <input type="text" name="portfolio_image[{{ image_row }}][title]" value="{{ portfolio_image.title }}" placeholder="{{ entry_title }}" class="form-control" />
                                            </td>
                                            <td class="text-right">
                                                <select name="portfolio_image[{{ image_row }}][special]" id="input-special{{ image_row }}" class="form-control">
                                                    {% if portfolio_image.special %}
                                                        <option value="1" selected="selected">{{ text_enabled }}</option>
                                                        <option value="0">{{ text_disabled }}</option>
                                                    {% else %}
                                                        <option value="1">{{ text_enabled }}</option>
                                                        <option value="0" selected="selected">{{ text_disabled }}</option>
                                                    {% endif %}
                                                </select>
                                            </td>
                                            <td class="text-right">
                                                <input type="text" name="portfolio_image[{{ image_row }}][sort_order]" value="{{ portfolio_image.sort_order }}" placeholder="{{ entry_sort_order }}" class="form-control" />
                                            </td>
                                            <td class="text-left"><button type="button" onclick="$('#image-row{{ image_row }}').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>
                                        </tr>
                                        {% set image_row = image_row + 1 %}
                                    {% endfor %}
                                    </tbody>

                                    <tfoot>
                                    <tr>
                                        <td colspan="4"></td>
                                        <td class="text-left"><button type="button" onclick="addImage();" data-toggle="tooltip" title="{{ button_image_add }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i></button></td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />
    <link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />
    <script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script>
    <script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script>
    <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
    <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
    <script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
    <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
    <script type="text/javascript"><!--
        var image_row = {{ image_row }};

        function addImage() {
            html  = '<tr id="image-row' + image_row + '">';
            html += '  <td class="text-left"><a href="" id="thumb-image' + image_row + '"data-toggle="image" class="img-thumbnail"><img src="{{ placeholder }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a><input type="hidden" name="portfolio_image[' + image_row + '][image]" value="" id="input-image' + image_row + '" /></td>';
            html += '  <td class="text-right"><input type="text" name="portfolio_image[' + image_row + '][title]" value="" placeholder="{{ entry_title }}" class="form-control" /></td>';
            html += '  <td class="text-right"><select name="portfolio_image[' + image_row + '][special]" id="input-special' + image_row + '" class="form-control"><option value="1">{{ text_enabled }}</option><option value="0" selected="selected">{{ text_disabled }}</option></select></td>';
            html += '  <td class="text-right"><input type="text" name="portfolio_image[' + image_row + '][sort_order]" value="" placeholder="{{ entry_sort_order }}" class="form-control" /></td>';
            html += '  <td class="text-left"><button type="button" onclick="$(\'#image-row' + image_row  + '\').remove();" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger"><i class="fa fa-minus-circle"></i></button></td>';
            html += '</tr>';

            $('#images tbody').append(html);

            image_row++;
        }
        //-->
    </script>
    <script type="text/javascript"><!--
        $('#form-portfolio a:first').tab('show');
        //-->
    </script>
</div>
{{ footer }}