{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <div class="pull-right">
                <button type="submit" id="button-save" form="form-setting" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
            </div>
            <h1>{{ heading_title }}</h1>
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        {% if error_warning %}
            <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-setting" class="form-horizontal">

            <div id="price" class="panel panel-default" data-row="{{ priceTags|length }}">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ tab_price }}</h3>
                </div>
                <div class="panel-body">

                    <ul class="nav nav-tabs">

                        {% for key,value in priceTags %}

                            {% set disable = false %}
                            {% set currTag = attribute(tags.info.tags, key) %}
                            {% for tag in currTag %}
                                {% if tag == false %}
                                    {% set disable = true %}
                                {% endif %}
                            {% endfor %}

                            {% set class = '' %}
                            {% if disable %}
                                {% set class = hideClass %}
                            {% endif %}
                            <li class="{{ class }}">

                                <a href="#tab-{{ loop.index }}" id="link-tab-{{ loop.index }}" data-toggle="tab">
                                    {% if value.name is not empty %}
                                        {{ value.name }}
                                    {% else %}
                                        без названия
                                    {% endif %}
                                </a>

                            </li>

                        {% endfor %}

                        <li>
                            <a href="#" id="add-price" title="Добавить прайс">
                                <i class="fa fa-plus"></i>
                            </a>
                        </li>

                    </ul>

                    <div class="tab-content">

                        {% for key,value in priceTags %}

                            {% set currTag = attribute(tags.price.tags, key) %}

                            <div class="tab-pane" id="tab-{{ loop.index }}">
                                <div class="form-group {{ class }}">
                                    <div class="col-sm-12 text-right">
                                        <button type="button" class="btn btn-danger" onclick="removePrice({{ loop.index }});">{{ button_remove }}</button>
                                    </div>
                                </div>

                                {% set class = '' %}
                                {% if currTag.name == false %}
                                    {% set class = hideClass %}
                                {% endif %}
                                <div class="form-group {{ class }}">
                                    <label class="col-sm-2 control-label" for="input-price_{{ loop.index }}_name">{{ entry_price_name }}</label>
                                    <div class="col-sm-10">
                                        <input
                                            type="text"
                                            name="price_{{ loop.index }}_name"
                                            value="{{ value.name }}"
                                            placeholder="{{ entry_price_name }}"
                                            id="input-price_{{ loop.index }}_name"
                                            class="form-control"
                                        >
                                    </div>
                                </div>

                                {% set class = '' %}
                                {% if currTag.name == false %}
                                    {% set class = hideClass %}
                                {% endif %}
                                <div class="form-group {{ class }}">
                                    <label class="col-sm-2 control-label" for="input-price_{{ loop.index }}_sort">{{ entry_price_sort }}</label>
                                    <div class="col-sm-10">
                                        <input
                                            type="text"
                                            name="price_{{ loop.index }}_sort"
                                            value="{{ value.sort }}"
                                            placeholder="{{ entry_price_sort }}"
                                            id="input-price_{{ loop.index }}_sort"
                                            class="form-control"
                                        >
                                    </div>
                                </div>

                                {% set class = '' %}
                                {% if currTag.description == false %}
                                    {% set class = hideClass %}
                                {% endif %}
                                <div class="form-group {{ class }}">
                                    <label class="col-sm-2 control-label" for="input-price_{{ loop.index }}_description">{{ entry_price_description }}</label>
                                    <div class="col-sm-10">
                                        <textarea
                                            name="price_{{ loop.index }}_description"
                                            rows="5"
                                            placeholder="{{ entry_price_description }}"
                                            id="input-price_{{ loop.index }}_description"
                                            data-toggle="summernote"
                                            data-lang="{{ summernote }}"
                                            class="form-control"
                                        >{{ value.description }}</textarea>
                                    </div>
                                </div>

                            </div>

                        {% endfor %}

                    </div>

                </div>
            </div>

        </form>
    </div>
</div>
<link href="view/javascript/codemirror/lib/codemirror.css" rel="stylesheet" />
<link href="view/javascript/codemirror/theme/monokai.css" rel="stylesheet" />
<script type="text/javascript" src="view/javascript/codemirror/lib/codemirror.js"></script>
<script type="text/javascript" src="view/javascript/codemirror/lib/xml.js"></script>
<script type="text/javascript" src="view/javascript/codemirror/lib/formatting.js"></script>
<script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
<link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
<script type="text/javascript" src="view/javascript/summernote/summernote-image-attributes.js"></script>
<script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
<script type="text/javascript"><!--
    $('#price .nav-tabs li:not(.hide):first a').tab('show');
//--></script>
<script type="text/javascript">
    $container = $('#price');

    // add price tab
    $('#add-price').on('click', function (e) {
        e.preventDefault();
        $container.data('row', parseInt($container.data('row'), 10) + 1);
        $container.find('.nav-tabs li:last').before('<li><a href="#tab-' + $container.data('row') + '" id="link-tab-' + $container.data('row') + '" data-toggle="tab">без названия</a></li>');
        $container.find('.tab-content').append(
            '<div class="tab-pane" id="tab-' + $container.data('row') + '">' +
            '<div class="form-group">' +
            '    <label class="col-sm-2 control-label" for="input-price_' + $container.data('row') + '_name">{{ entry_price_name }}</label>' +
            '    <div class="col-sm-10">' +
            '        <input' +
            '            type="text"' +
            '            name="price_' + $container.data('row') + '_name"' +
            '            value=""' +
            '            placeholder="{{ entry_price_name }}"' +
            '            id="input-price_' + $container.data('row') + '_name"' +
            '            class="form-control"' +
            '        >' +
            '    </div>' +
            '</div>' +
            '<div class="form-group">' +
            '    <label class="col-sm-2 control-label" for="input-price_' + $container.data('row') + '_sort">{{ entry_price_sort }}</label>' +
            '    <div class="col-sm-10">' +
            '        <input' +
            '            type="text"' +
            '            name="price_' + $container.data('row') + '_sort"' +
            '            value="0"' +
            '            placeholder="{{ entry_price_sort }}"' +
            '            id="input-price_' + $container.data('row') + '_sort"' +
            '            class="form-control"' +
            '        >' +
            '    </div>' +
            '</div>' +
            '<div class="form-group">' +
            '    <label class="col-sm-2 control-label" for="input-price_' + $container.data('row') + '_description">{{ entry_price_description }}</label>' +
            '    <div class="col-sm-10">' +
            '        <textarea' +
            '            name="price_' + $container.data('row') + '_description"' +
            '            rows="5"' +
            '            placeholder="{{ entry_price_description }}"' +
            '            id="input-price_' + $container.data('row') + '_description"' +
            '            data-toggle="summernote"' +
            '            data-lang="{{ summernote }}"' +
            '            class="form-control"' +
            '        ></textarea>' +
            '    </div>' +
            '</div>' +
            '</div>'
        );

        $('#link-tab-' + $container.data('row')).tab('show');

        summernoteInit();
    });


    // remove price tab
    function removePrice(row) {
        $('#link-tab-' + row).parent().remove();
        $('#tab-' + row).remove();
        $container.find('.nav-tabs li:first a').tab('show');
    }
</script>
{{ footer }}