<section>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent m-0">
                {% for breadcrumb in breadcrumbs %}
                    <li class="breadcrumb-item {% if loop.last %}active{% endif %}">
                        <a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
                    </li>
                {% endfor %}
            </ol>
        </nav>
    </div>
</section>
<hr class="m-0">