<footer class="bg-light py-4">
    <div class="container">
        <div class="row">
            
            <div class="col-12 col-sm-3">
                <div>
                    {% if logo %}
                        <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-fluid logo">
                    {% else %}
                        <div class="text-center font-weight-bold text-uppercase text-dark mb-2">
                            {{ name }}
                        </div>
                    {% endif %}
                </div>
                <div>
                    <dl class="row no-gutters mt-3">

                        {% if infoblock_contact_address %}
                            <dt class="col-sm-2 text-center">
                                <i class="fa fa-map-marker-alt"></i>
                            </dt>
                            <dd class="col-sm-10">
                                {{ infoblock_contact_address }}
                            </dd>
                        {% endif %}

                        {% if infoblock_contact_telephone1 %}
                            <dt class="col-sm-2 text-center">
                                <i class="fa fa-phone fa-rotate-90"></i>
                            </dt>
                            <dd class="col-sm-9">
                                <div>{{ infoblock_contact_telephone1 }}</div>
                                <div>{{ infoblock_contact_telephone2 }}</div>
                                <div>{{ infoblock_contact_telephone3 }}</div>
                            </dd>
                        {% endif %}

                        {% if infoblock_contact_email %}
                            <dt class="col-sm-2 text-center">
                                <i class="fa fa-envelope"></i>
                            </dt>
                            <dd class="col-sm-10">
                                {{ infoblock_contact_email }}
                            </dd>
                        {% endif %}

                        {% if infoblock_contact_open %}
                            <dt class="col-sm-2 text-center">
                                <i class="fa fa-clock"></i>
                            </dt>
                            <dd class="col-sm-10">
                                {{ infoblock_contact_open }}
                            </dd>
                        {% endif %}

                    </dl>
                </div>
                <div>
                    <hr>
                    <ul class="list-inline px-3">
                        {% if infoblock_social_vk %}
                            <li class="list-inline-item">
                                <a href="{{ infoblock_social_vk }}">
                                    <i class="fab fa-vk fa-lg"></i>
                                </a>
                            </li>
                        {% endif %}
                        {% if infoblock_social_insta %}
                            <li class="list-inline-item">
                                <a href="{{ infoblock_social_insta }}">
                                    <i class="fab fa-instagram fa-lg"></i>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
            
            {{ menu }}

        </div>
        <hr>
        <div>{{ powered }}</div>
    </div>
</footer>

{% for script in scripts %}
    <script src="{{ script }}" type="text/javascript"></script>
{% endfor %}

</body>
</html>