<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="{{ lang }}">
<!--<![endif]-->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <base href="{{ base }}" />
    {% if description %}
        <meta name="description" content="{{ description }}" />
    {% endif %}
    {% if keywords %}
        <meta name="keywords" content="{{ keywords }}" />
    {% endif %}

    <script src="catalog/view/javascript/jquery/jquery-3.5.1.min.js" type="text/javascript"></script>

    <script src="catalog/view/javascript/popper.min.js" type="text/javascript"></script>

    <link href="catalog/view/javascript/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

    <link href="catalog/view/javascript/fancybox/jquery.fancybox.min.css" rel="stylesheet" media="screen">
    <script src="catalog/view/javascript/fancybox/jquery.fancybox.min.js" type="text/javascript"></script>

    <link href="catalog/view/javascript/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,400i,300,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap" rel="stylesheet">

    <link href="catalog/view/theme/{{ theme_dir }}/assets/css/main.css?v={{ version_html }}" rel="stylesheet">
    <script src="catalog/view/theme/{{ theme_dir }}/assets/js/main.js?v={{ version_html }}" type="text/javascript"></script>

    {% for style in styles %}
        <link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}" />
    {% endfor %}

    {% for script in scripts %}
        <script src="{{ script }}" type="text/javascript"></script>
    {% endfor %}

    <script src="catalog/view/javascript/common.js?v={{ version_html }}" type="text/javascript"></script>

    {% for link in links %}
        <link href="{{ link.href }}" rel="{{ link.rel }}" />
    {% endfor %}

</head>

<body class="{{ class }}">


<header>

    <section id="top" class="bg-light">
        <div class="container">

            <div class="row">

                <div class="col-sm-4">
                    {{ address }}
                </div>

                <div class="col-sm-4">
                    <div class="d-flex justify-content-center">
                        {% if telephone or telephone2 %}
                            <div>
                                <i class="fa fa-phone fa-rotate-90"></i>
                            </div>
                            {% if telephone %}
                                <div class="ml-2">{{ telephone }}</div>
                            {% endif %}
                            {% if telephone2 %}
                                <div class="ml-2">{{ telephone2 }}</div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="d-flex justify-content-end align-items-center">
                        <a href="{{ wishlist }}" class="btn btn-light rounded-0 py-0 d-flex align-items-center" title="{{ text_wishlist }}">
                            <div><i class="far fa-heart"></i></div>
                            <div class="d-none d-md-block hidden-md mx-2">{{ text_wishlist }}</div>
                            <div class="d-none d-md-block badge badge-pill badge-dark">{{ total_wishlist }}</div>
                        </a>
                        <a href="{{ account }}" class="btn btn-light rounded-0 py-0 d-flex align-items-center" title="{{ text_account }}" data-toggle="dropdown">
                            <div><i class="far fa-user-circle"></i></div>
                            <div class="d-none d-md-block mx-2">{{ text_account }}</div>
                            <div class="d-none d-md-block"><i class="fa fa-angle-down"></i></div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right m-0">
                            {% if logged %}
                                <a href="{{ account }}" class="dropdown-item">{{ text_account }}</a>
                                <a href="{{ logout }}" class="dropdown-item">{{ text_logout }}</a>
                            {% else %}
                                <a href="{{ register }}" class="dropdown-item">{{ text_register }}</a>
                                <a href="{{ login }}" class="dropdown-item">{{ text_login }}</a>
                            {% endif %}
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <div class="container py-3">
        <div class="row">

            <div class="col-sm-4">
                <div id="logo">
                    <a href="{{ home }}">
                        {% if logo %}
                            <img src="{{ logo }}" class="img-fluid" alt="{{ name }}">
                        {% else %}
                            <span class="font-size-xl">{{ name }}</span>
                        {% endif %}
                    </a>
                </div>
            </div>

            <div class="col-sm-5">{{ search }}</div>

            <div class="col-sm-3">{{ cart }}</div>

        </div>
    </div>
</header>

<nav class="main-menu">
    <div class="bg-light">
        <div class="container">
            {{ menu }}
        </div>
    </div>
</nav>
