{% set disabledChilds = ['shop'] %}

<ul class="nav">
    {% set i = 1 %}
    {% for key,menu in main_menu %}
        {% set dropdown = '' %}
        {% set toggle = '' %}
        {% set dropdown = 'dropdown' %}
        {% set toggle = 'dropdown-toggle' %}

        <li class="nav-item {% if menu.child and key not in disabledChilds %}dropdown{% endif %}">
            <a
                href="{{ menu.href }}"
                class="nav-link {{ menu.active }} {% if menu.child and key not in disabledChilds %}dropdown-toggle{% endif %}"
                {% if menu.child %}aria-haspopup="true" aria-expanded="false"{% endif %}
            >
                {{ menu.name }}
                {% if menu.child and key not in disabledChilds %}
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                {% endif %}
            </a>
            {% if menu.child and key not in disabledChilds %}
                <div class="dropdown-menu m-0">
                    {% for child in menu.child %}
                        <a href="{{ child.href }}" class="nav-link dropdown-item">{{ child.name }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </li>

        {% set i = i + 1 %}
    {% endfor %}
</ul>
