<div class="col-12 col-sm-3">
    <div class="useful-links ul-li-block">
        <h5>Меню</h5>
        <div class="row mt-3">
            {% for menu in main_menu %}
                <div class="col-12 mb-2">
                    <a href="{{ menu.href }}" class="font-weight-bold">{{ menu.name }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="col-12 col-sm-6">
    <div class="useful-links ul-li-block">
        <h5>Категории товаров</h5>
        <div class="row mt-3">
            {% for menu in main_menu.shop.child %}
                <div class="col-lg-6 mb-2">
                    <a href="{{ menu.href }}" class="font-weight-bold">{{ menu.name }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>